{% extends 'base.html' %}
{% load i18n %}

{% block header %}
{% blocktrans %}A new way for local reviews{% endblocktrans %}
<p style="color:#2d69df;">{% blocktrans %}Open. Collaborative. Trustworthy.{% endblocktrans %}</p>
{% endblock %}

{% block content %}
<ul class="center">
    {% blocktrans trimmed %}
    <li><b>Openness</b> - make all the reviews data open, so every project can access and contribute back.</li>
    <li><b>Community driven</b> - build a community to make decision about moderation, data structure together.</li>
    <li><b>Decentralization</b> - develop a decentralized system from the Day 1 to avoid scalability issues in the future.</li>
    <li><b>Trust</b> - create tools to detect fraud, spam &amp; keep all the data open to prevent any data manipulation.</li>
    <li><b>Monetization</b> - make business subscriptions once the project is matured and spread the income between applications, authors, moderators and network operators.</li>
    {% endblocktrans %}
</ul>
<div class="btn-container">
    <a href="https://forum.openplacereviews.org/" class="btn join">{% blocktrans %}Read more and Join us{% endblocktrans %}</a>
</div>
{% endblock %}