.inner{
  width: 1100px;
  margin: auto;
  padding-top: 1px;
  min-height: calc(100vh - 217px);
  padding-bottom: 80px;
  h1{
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 50px;
    font-size: 40px;
    letter-spacing: 0.01em;
  }
  .containter_flex{
    display: flex;
  }
  .menu{
    width: 260px;
    background: #FFFFFF;
    border: 1px solid #CCD0D9;
    box-sizing: border-box;
    border-radius: 4px;
    .menu_header{
      letter-spacing: 0.07em;
      color: #56627A;
      padding: 12px 20px;
      font-weight: bold;
    }
    .menu_items{
      color: #2D69E0;
    }
    ul{
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        display: flex;
        padding: 10px 20px;
        cursor: pointer;
        font-weight: bold;
        line-height: normal;
        letter-spacing: 0.02em;
        &.submenu_item{
          padding-left: 50px;
          &.selected {
            background: rgba(204, 208, 217, 0.3);
            color: #140579;
          }
        }
        &:hover{
          background: rgba(204, 208, 217, 0.3);
          color: #140579;
        }
        &.selected{
          color: #140579;
          .select:before{
            -ms-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            top: -4px;
          }
        }
        .select:before{
          position: relative;
          display:inline-block;
          left: 180px;
          color: #2D69E0;
          margin-top: 4px;
          border-style: solid;
          border-width: 5px 5px 0;
          border-color: #2D69E0 transparent transparent;
          content: "";
        }

        .icon_database::before{
          background: url(../images/icon-database.png) no-repeat;
          position: relative;
          padding-left: 20px;
          padding-top: 15px;
          top: 12px;
          content: "";
          width: 20px;
        }
        .icon_task::before{
          background: url(../images/icon-task.png) no-repeat;
          position: relative;
          padding-left: 20px;
          padding-top: 15px;
          top: 11px;
          content: "";
          width: 20px;
        }
        .icon_user::before{
          background: url(../images/icon-user.png) no-repeat;
          position: relative;
          padding-left: 20px;
          padding-top: 15px;
          top: 12px;
          content: "";
          width: 20px;
        }
      }
    }
  }
  .data_content {
    margin-left: 20px;
    .filters {
      display: flex;
      margin-bottom: 30px;
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        li {
          color: #2D69E0;
          cursor: pointer;
          list-style: none;
          border: 1px solid #CCD0D9;
          border-right: none;
          margin: 0;
          padding: 10px 20px;
          font-weight: 600;
          line-height: normal;
          font-size: 16px;
          text-align: center;
          letter-spacing: 0.02em;
          &:first-child{
            border-radius: 6px 0px 0px 6px;
          }
          &:last-child{
            border-right: 1px solid #CCD0D9;
            border-radius: 0px 6px 6px 0px;
          }
          &.active{
            background: #2D69E0;
            color: #FFFFFF;
          }
          &:hover{
            background: rgba(204, 208, 217, 0.3)
          }
          &.custom_filter{
            display: flex;
          }
          .custom_icon{
            background: url(../images/custom-icon.png) no-repeat;
            width: 20px;
            height: 20px;
            position: relative;
            bottom: 3px;
            margin-right: 10px;
          }
        }
      }
      select{
        margin-right: 130px;
        margin-left: auto;
        background: #F1F4FC;
        border: 1px solid #CCD0D9;
        border-radius: 6px;
        padding: 10px 20px;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        letter-spacing: 0.02em;
      }
    }
    .data_container{
      width: 820px;
      .item_data{
        display: flex;
        border-bottom: 1px solid #E4E8F2;
        padding: 15px 0;
        &.item_data:first-child {
          border-top: 1px solid #E4E8F2;
        }
        .type_operation{
          margin: 0 15px;
          width: 20px;
          height: 20px;
          &.operation_user{
            background: url(../images/operation-user.png) no-repeat;
          }
          &.operation_database{
            background: url(../images/operation-database.png) no-repeat;
          }
          &.sys_login, &.sys_signup{
            background: url(../images/operation-user.png) no-repeat;
          }
          &.sys_operation, &.sys_validate, &.sys_grant, &.sys_role{
            background: url(../images/operation-database.png) no-repeat;
          }
        }
        .content{
          width: 500px;
          padding-left: 20px;
          margin-right: 20px;
          .content_header{
            font-weight: bold;
            line-height: normal;
            font-size: 16px;
            letter-spacing: 0.02em;
            margin-bottom: 4px;
          }
        }
        .info {
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          font-size: 14px;
          margin: 0 15px;
          width: 230px;
          letter-spacing: 0.01em;
          color: #ACB2BF;
          .first_info_block {
            display: inline-block;;
            text-align: right;
            width: 230px;
            margin-bottom: 4px;
            div{
              display: inline-block;
            }
          }
          .second_info_block {
            width: 230px;
            display: inline-block;;
            text-align: right;
            div{
              display: inline-block;
            }
          }
          .delimeter{
            margin: 0 5px;
          }
        }
      }
    }
  }
}

