.landing-container{
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #263A30;
  .first-screen{
    .first-screen-bg{
      display: grid;
      grid-template-columns: 140px auto 430px;
      grid-template-rows: 100px 440px 200px;
      @media (max-width: 950px) {
        grid-template-columns: 56px auto 172px;
        grid-template-rows: 40px 370px 80px;
      }
      .top-left{
        background: url("../images/landing/group_2_top_left.png") no-repeat;
        background-size: 100% 100%;
      }
      .top-center{
        background: url("../images/landing/group_2_top_center.png") repeat-x;
        background-size: 100% 100%;
      }
      .top-right{
        background: url("../images/landing/group_2_top_right.png") no-repeat;
        background-size: 100% 100%;
      }
      .middle-left{
        background: url("../images/landing/group_2_middle_left.png") repeat-y;
        background-size: 100% 100%;
      }
      .middle-center{
        background: url("../images/landing/group_2_middle_center.png") repeat;
        background-size: 100% 100%;
      }
      .middle-right{
        background: url("../images/landing/group_2_middle_right.png") repeat-y;
        background-size: 100% 100%;
      }
      .buttom-left{
        background: url("../images/landing/group_2_buttom_left.png") no-repeat;
        background-size: 100% 100%;
      }
      .buttom-center{
        background: url("../images/landing/group_2_buttom_center.png") repeat-x;
        background-size: 100% 100%;
      }
      .buttom-right{
        background: url("../images/landing/group_2_buttom_right.png") no-repeat;
        background-size: 100% 100%;
      }
    }

    margin: 0 5vw;
    @media (min-width: 1300px){
      width: 1300px;
      margin: 0 auto;
    }
    //height: 740px;
    //background: url("../images/landing/group_2.png") no-repeat ;
    background-size: 100% 100%;
    .first-screen-container{
      max-width: 1100px;
      margin: 0 auto;
      padding: 0 10vw;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
    .header{
      display: flex;
      padding-top: 70px;
      width: 100%;
      margin: 0 auto;
      .logo{
        line-height: 18px;
        img{
          width: 185px;
          height: 50px;
        }
      }
      .menu-landing{
        margin: 0;
        padding: 0;
        margin-left: auto;
        li{
          font-size: 18px;
          line-height: 50px;
          display: inline-block;
          margin-left: 40px;
        }
      }
    }
  }
  h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color: #000000;
    p{
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 49px;
      text-align: center;
      margin-top: 120px;
      margin-bottom: 11px;
      color: #263A30;
      @media (max-width: 950px) {
        margin-top: 0px;
      }
    }
  }
  h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 140%;
  }
  a{
    color: #0A38C2;
  }
  .second-screen{
    text-align: center;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.01em;
    margin: 0 auto;
    margin-bottom: 75px;
    display: flex;
    max-width: 1100px;
    text-align: left;
    padding: 0 10vw;
    @media (max-width: 1180px) {
      display: block;
    }
    h1{
      text-align: left;
    }
    .openness_imgs{
      text-align: center;
      background: #F4F6F6;
      border-radius: 40px;
      padding: 24px;
      margin-top: 50px;
      position: relative;
      left: 40px;

      div:first-child{
        margin-top: 0;
      }
      div{
        margin-top: 20px;
      }
      img{
        width: 222px;
        height: 162px;
        display: block;
      }
      @media (max-width: 1180px) {
        display: flex;
        left: 0;
        flex-wrap: wrap;
        div{
          margin-top: 0;
          margin: 0 auto;
        }
      }
    }
  }
  .border-screen2{
    width: 100%;
    height: 20px;
    background: url("../images/landing/border_screen2.png") repeat-x;
  }
  .third-screen{
    text-align: center;
    margin-top: 95px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.01em;
    border-bottom: 2px solid #E3E5E8;
    padding: 0 10vw;
    .flex_conteiner{
      display: flex;
      max-width: 1100px;
      margin: 0 auto;
      text-align: left;
      margin-top: 20px;
      flex-wrap: wrap;
      div{
        width: 470px;
        @media (max-width: 950px) {
          width: 100%;
        }
      }
      div:first-child {
        margin-right: auto;

      }
      //.left_clmn{
      //  margin-right: 80px;
      //  width: 470px;
      //}
      //.right_clmn{
      //  margin-right: 80px;
      //  margin-left:80px;
        //max-width: 470px;
      //}
      @media (max-width: 1100px) {
        div{
          margin-right: 0px;
          width: 100%;
        }
        div{
          margin-left: 0px;
          width: 100%;
        }
      }
    }
    ul{
      //display: flex;
      //margin: 0 auto;
      //width: 470px;
      text-align: center;
      padding: 0;
      margin-top: 65px;
      margin-bottom: 50px;
      @media (max-width: 1100px) {
        margin-top: 0px;
        margin-bottom: 40px;
        text-align: left;
      }
      li:first-child{
        list-style: none;
        margin-right: 20px;
      }
      //li:last-child{
      //  margin-left: 20px;
      //  list-style: none;
      //  &:before{
      //    content: '.';
      //    bottom: 5px;
      //    right: 20px;
      //    position: relative;
      //    color: #CCD0D9;
      //  }
      //}
    }
  }
  .fourth-screen{
    .border_screen4{
      margin-top: 100px;
      background: url("../images/landing/border_screen4.png") repeat-x;
      height: 60px;
      width: 100%;
    }
    .decentralization{
      max-width: 1100px;
      margin: 0 auto;
      text-align: left;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 150%;
      letter-spacing: 0.01em;
      margin-bottom: 125px;
      padding: 0 10vw;
      h1{
        text-align: left;
        margin-top: 125px;
      }
      .flex_conteiner{
        display: flex;
        @media (max-width: 900px) {
          flex-wrap: wrap;
        }
        div:first-child{
          max-width: 470px;
          margin-right: 90px;
          @media (max-width: 1100px) {
            margin-right: 40px;
          }
          @media (max-width: 900px) {
            margin-bottom: 20px;
          }
        }
        div:last-child{
          border-left: 4px solid #FFC93A;
          padding-left: 25px;
          white-space: nowrap;
        }
      }
    }
  }
  .fifth-screen{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.01em;
    background: #F4F6F6;
    .trust{
      max-width: 1100px;
      margin: 0 auto;
      padding: 0 10vw;
      padding-bottom: 105px;
      h1{
        text-align: left;
        padding-top: 65px;
        margin-bottom: 15px;
      }
      .flex_conteiner{
        display: flex;
        div{
          width: 500px;
          p{
            margin: 0 0 20px 100px;
          }
        }
        div:before{
          content: url("../images/landing/trust_img.png");
          position: relative;
          float: left;
          left: -10px;
        }
        div:first-child{
          margin-right: 50px;
        }
        div:last-child{
          margin-left: 50px
        }
        @media (max-width: 1100px) {
          display: block;
          div{
            margin: 0 0 40px 0;
            width: 100%;
          }
          div:first-child, div:last-child{
            margin-left: 0px
          }
        }
      }
    }
  }
  .sixth-screen{
    border-bottom: 5px solid #ECF7F1;
    .monetization{
      display: flex;
      max-width: 1100px;
      margin: 0 auto;
      padding: 0 10vw;
      padding-top: 135px;
      padding-bottom: 175px;
      h1{
        text-align: left;
        margin-top: 10px;
        margin-bottom: 15px;
      }
      img{
        width: 300px;
        height: 217px;
        margin-right: 90px;
        left: -20px;
        position: relative;
      }
      p{
        margin-top: 15px;
      }
      @media (max-width: 1100px){
        display: block;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 10vw;
        padding-top: 85px;
        padding-bottom: 75px;
        img{
          width: 191px;
          height: 138px;
          margin-right: 20px;
          left: -10px;
          float: left;
        }
        h1{
          width: 0px;
        }
        p{
          margin-top: 25px;
        }
      }
      @media (max-width: 800px) {
        img{
          float: none;
          left: 10px;
        }
        h1{
          text-align: center;
          width: 100%;
        }
        text-align: center;
      }
    }
  }
  .seventh-screen{
    .founders{
      max-width: 1100px;
      margin: 0 auto;
      padding: 0 10vw;
      padding-bottom: 95px;
      h1{
        text-align: left;
        margin-top: 80px;
        margin-bottom: 40px;
      }
      .flex_conteiner{
        display: flex;
        @media (max-width: 900px){
          flex-wrap: wrap;
          div{
            margin-bottom: 20px;
          }
        }
      }
      .founder_block{
        width: 540px;
        margin-right: 40px;
        display: flex;
        &:last-child{
          margin-right: 0;
        }
        img{
          width: 120px;
          height: 120px;
          float: left;
          margin-right: 20px;
        }
        .fuunder_name{
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
          font-size: 25px;
          line-height: 140%;
          color: #1A04AE;
          margin-bottom: 10px;
        }
      }
    }
    .community_leaders{
      width: 1100px;
      margin: 0 auto;
      h1{
        text-align: left;
      }
      .leaders{
        padding: 0;
        display: flex;
        margin-bottom: 90px;
        .leader{
          width: 245px;
          margin-right: 30px;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 32px;
          letter-spacing: 0.01em;
          list-style: none;
          img{
            width: 125px;
            height: 125px;
          }
          .leader_name{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: #140579;
          }
        }
      }
    }
  }
  .eighth-screen{
    //height: 439px;
    background: #7BD294;
    color: #ffffff;
    padding-top: 50px;
    @media (max-width: 1100px) {
      padding-right: 10vw;
      padding-left: 10vw;
      padding-bottom: 20px;
    }
    .flex_conteiner{
      display: flex;
      width: 1100px;
      @media (max-width: 1100px) {
        display: block;
        width: 100%;
      }
      @media (min-width: 1600px) {
        width: 1351px;
        margin: 0 auto;
        position: relative;
        left:-211px;
      }

    }
    .cover_full{
      background: url('../images/landing/cover_full.png') right no-repeat;
      width: 841px;
      height: 439px;
      background-size: cover;
      @media (max-width: 1100px) {
        float: left;
        width: 300px;
        height: 160px;
      }
    }
    h1{
      text-align: left;
      margin-top: 20px;
      color: #ffffff;
    }
    .join_us_form{
      width: 540px;
      @media (max-width: 1100px) {
        width: 100%;
      }
      input{
        width: 540px;
        @media (max-width: 950px){
          width: 100%;
        }
        background: #FFFFFF;
        border: 2px solid rgba(0, 0, 0, 0.26);
        box-sizing: border-box;
        box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        height: 60px;
        padding-left: 20px;
      }
      button{
        margin-top: 20px;
        width: 190px;
        height: 60px;
        background: #0A38C2;;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        color: #ffffff;
        font-size: 20px;
        line-height: 30px;
        border: none;
        &:hover{
          background: #140579;
        }
      }
    }
  }
  .mission_container{
    background: #F4F6F6;
    height: 100%;
    padding: 0 10vw;
    .mission_block{
      max-width: 820px;
      text-align: left;
      margin: 0 auto;
      padding-top: 40px;
      padding-bottom: 80px;
      .missing_hidden{
        p:first-child{
          margin-top: 0;
        }
      }
      .collapsed_btn{
        height: 34px;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #0A38C2;
        background: #CCD0D9;
        border-radius: 60px;
        margin: 0 auto;
        width: 150px;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
  footer{
    background: #F0F0F0;
    text-align: center;
    color: #4C4C4C;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.02em;
    padding-top: 25px;
    padding-bottom: 25px;
  }

}