@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,600');

body {
    width: 100%;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    background-color: white;
    font-size: 1em;
    min-height: 100vh;
}
a, a:active{
    color: #2D69E0;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #2D69E0;
}
h1{
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 50px;
    font-size: 40px;
    letter-spacing: 0.01em;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   /*  width: 100%; */
}

.main {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 80px;
    min-height: calc(100vh - 256px);
    h1 {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 2.5em;
        line-height: 2em;
        color: #596680;
        font-weight: 600;
        letter-spacing: 0.02em;
    }
    p {
        padding: 0px;
        margin: 0px;
        line-height: 1em;
    }
    ul {
        width: 600px;
        line-height: 1.5em;
        font-size: 1.1em;
        li {
            margin: 0 0 20px 0;
        }
    }
}

.btn-container {
    text-align: center;
    margin-top: 50px;
}

.btn {
    background-color: #2d6ae0;
    color: white;
    padding: 0px 25px 0px 25px;
    min-height: 60px;
    line-height: 60px;
    border: none;
    margin:0 auto;
    display: inline-block;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.04em;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 14px 2px #00000036;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 3px 14px 2px #00000036;  /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 3px 14px 2px #00000036;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.btn:hover {
    background-color: #140579;
}

.footer {
    //position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
    background-color: #ebf2f5;
    color: #596680;
    text-align: center;
    height: 50px;
    p {
        margin: 0 auto;
        padding-top: 10px;
    }
    a {
        text-decoration-color: #140579;
        text-decoration-line: none;
    }
    a:hover {
        text-decoration-color: #140579;
        text-decoration-line: underline;
    }
}
.messages-notify{
    margin: 0;
    padding: 0;
}
.messages-notify .success{
    background-color: #ebf2f5;
    margin: 0;
    padding: 15px;
    text-align: center;
    list-style: none;
}

.messages-notify .error{
    background-color: #FF595E;
    margin: 0;
    padding: 15px;
    text-align: center;
    list-style: none;
}
.messages-notify .info{
    background-color: #7cffb6;
    margin: 0;
    padding: 15px;
    text-align: center;
    list-style: none;
}

header{
    /*width: 100%;*/
    min-width: 920px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0px 30px;
    .block-header{
        display: block;
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 920px;
        max-width: 1100px;
        margin: auto;
        height: 80px;
        position: relative;
        .logo{
            height: 50px;
            margin: auto 0px;
            position: absolute;
            display: inline-block;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            img{
                height: 50px;
                width: 218px;
                margin: auto 0;
            }
        }
        nav {
                font-style: normal;
                font-weight: bold;
                line-height: normal;
                font-size: 16px;
                letter-spacing: 0.02em;
                color: #2D69E0;
                margin: auto 0;
                height: 16px;
                right: 0;
                top: 0;
                bottom: 0;
                position: absolute;
            ul{
                margin: 0;
                padding: 0;
                display: block;
                li{
                    display: inline-block;
                    list-style-type: none;
                    margin-left: 38px;
                    &.active{
                        border-bottom: 2px solid #2D69E0;
                        a{
                            color: #140579;
                        }
                    }
                    a:hover{
                        color: #140579;
                        text-decoration: none;
                    }
                    &.nav_login{
                        border-radius: 22px 0px 0px 22px;
                        border: 1px solid #E4E7ED;
                        border-right: none;
                        padding: 10px 0px 10px 20px;
                        margin-top: 0px;
                        display: initial;
                        a{
                            padding: 3px 20px 3px 0;
                        }
                    }
                    &.nav_signup{
                        border-radius: 0px 22px 22px 0px;
                        border: 1px solid #E4E7ED;
                        border-left: none;
                        padding: 10px 20px 10px 0px;
                        margin-left: 0;
                        margin-top: 0px;
                        display: initial;
                        a{
                            border-left: 2px solid #E4E7ED;
                            padding: 3px 0 3px 20px;
                        }
                    }
                    &.my_account{
                        display: inline-block;
                        a:first-child{
                            border-left: 2px solid #E4E7ED;
                            padding: 3px 0 3px 20px;
                        }
                    }
                    &.avatar_my_account {
                        margin-left: 20px;
                        margin-right: 30px;
                        img{
                            position: absolute;
                            top: 0;
                            width: 30px;
                            height: 30px;
                            margin: auto;
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.auth-page{
    min-width: 600px;
    .block-header{
        width: 540px;
        min-width: 540px;
        nav ul li{
            &.my_account, &.avatar_my_account{
                margin-top: 0;
            }
        }
    }
}
.not-border{
    border: none!important;
}
.auth-container{
    width: 540px;
    min-width: 540px;
    margin: 0 auto;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 0.02em;
    padding: 1px 30px 80px 30px;
    min-height: calc(100vh - 217px);
    h1{
        margin-top: 40px;
        margin-bottom: 20px;
        line-height: 48px;
        font-size: 40px;
        letter-spacing: 0.01em;
    }
    p{
        margin-top: 13px;
    }
}

.socialaccount_ballot p{
    font-weight: 600;
}
.socialaccount_ballot ul{
    padding: 0;
}
.socialaccount_ballot ul li{
    list-style-type: none;
    width: 540px;
    border-bottom: 1px solid #E4E7ED;
}
.socialaccount_ballot ul li:last-child{
    border-bottom: none;
}
.method-auth{
    display: flex;
    flex-direction: row;
    height: 50px;
}
.method-auth img{
    height: 20px;
    margin-top: 15px;
    margin-right: 14px;
    margin-left: 10px;
}
.method-auth a{
    margin-block-start: 15px;
}
.method-auth-nickname{
    display: flex;
    flex-direction: row;
    height: 50px;
}
.method-auth-nickname{
}

.method-auth-nickname-active-form{
    background: #2D69E0;
    cursor: pointer;
    color: #FFFFFF;
    border: 1px solid #2D69E0;
    box-sizing: border-box;
    border-radius: 4px;
}


.method-auth-nickname img{
    height: 20px;
    margin-top: 15px;
    margin-right: 14px;
    margin-left: 10px;
}
.nickname-method{
    margin-block-start: 15px;
    color: #2D69E0;
    cursor: pointer;
}
.method-auth-nickname-active-form .nickname-method{
    color: #FFFFFF;
}

.form-item{
    margin-bottom: 20px;
}
.form-hidden{
    display: none;
}
.block_hidden{
    display: none;
}
.login-form-input{
    text-indent: 10px;
    width: 540px;
    height: 40px;
    background: #F7F7F7;
    border: 1px solid #CCD0D9;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 0px rgba(228, 231, 237, 0.3);
    border-radius: 4px;
}
.login-form-input:focus{
    background: #FFFFFF;
    border: 1px solid #2D69E0;
    box-shadow: inset 0px 4px 2px rgba(0, 0, 0, 0.1), inset 0px 0px 5px rgba(0, 0, 0, 0.35);
}
.form-item .input-description{
    font-size: 14px;
    letter-spacing: 0.01em;
    color: rgba(49, 50, 51, 0.7);
}

button{
    background: #F1F4FC;
    border: 2px solid #2D69E0;
    box-sizing: border-box;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    color: #2D69E0;
    padding: 0 20px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.02em;
    cursor: pointer;
    height: 40px;
}

button:hover{
    color: #FFFFFF;
    height: 40px;
    background: #2D69E0;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 0 20px;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    cursor: pointer;
}
.form-error, .form-field-error{
    display: flex;
    width: 540px;
    min-height: 40px;
    background: #FF595E;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-top: 5px;
}
.error-field{
    border-color: #FF595E;
    border-width: 1px;
}

.form-error img, .form-field-error img{
    width: 20px;
    height: 20px;
    margin: 10px 6px 10px 10px;
    display: inline-block;
    vertical-align: top;
}

.form-error .erorr-description, .form-field-error .erorr-description{
    margin-top: 12px;
    max-width: 500px;
    right: 0;
    display: block;
    margin-bottom: 10px;
    line-height: 18px;
}

.form-item-boolean{
    border: 1px solid #CCD0D9;
    box-sizing: border-box;
    border-radius: 4px;
}
.signup-checkbox-block{
    display: flex;
    flex-direction: row;
}
.signup-input-label{
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
}
.form-item-boolean {
    margin-bottom: 20px;
}
.form-item-boolean {
    display: inline-block;
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"]:checked + .box::before {
        content: "\f14a";
        color: #2D69E0;
        animation: checkanimate 200ms;
    }
    .box::before {
        content: "\f096";
        color: #CCD0D9;
        font-family: "FontAwesome";
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
        margin: 20px 0px 20px 20px;
        width: 16px
    }
}
.expand-block{
    display: block;
}
.signup-input-description{
    margin-left: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.01em;
    margin-bottom: 8px;
    margin-right: 20px;
}
.expand-btn{
    padding: 9px 0px 8px 57px;
    cursor: pointer;
    background: #F1F4FC;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2D69E0;
}
.expanded_block{
    display: none;
}

.expand-block-data{
    margin: 15px 20px;
}
.optional-fields{
    margin-bottom: 30px;
}

.headline-optional-fields{
    font-style: normal;
    font-weight: 800;
    line-height: 25px;
    font-size: 20px;
    letter-spacing: 0.03em;
    color: #140579;
    margin-top: 30px;
    margin-bottom: 15px;
}

.optional-field{
    line-height: 1.15em;
    margin-bottom: 15px;
    .optional_field_lable{
        line-height: 26px;
    }
}
.oauth_avatar {
    position: absolute;
    margin-left: -70px;
    img{
        width: 50px;
        height: 50px;
        border-radius: 50px; /* Радиус скругления */
        //border: 3px solid green; /* Параметры рамки */
    }
}