<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="icon" type="image/png" sizes="180x180" href="../images/icons/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="180x180" href="../images/icons/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/icons/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/app.min.css">
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
</head>
<body>

<input id="toggle" type="checkbox">
<header>
    <div class="block-header">
        <div class="logo">
            <a href="../index.html">
                <img src="../images/OpenPlaceReview.svg" alt="OpenPlaceReviews.org logo" class="center"/>
            </a>
        </div>

        <label class="toggle-container" for="toggle">
            <span class="button button-toggle"></span>
        </label>
        <nav class="nav">
            <ul>
                <li>
                    <a href="../investing.html">For Investors</a>
                </li>
                <li class="my_account">
                    <a href="#">My account</a>
                </li>
                <li class="avatar_my_account">
                    <a href="#">
                        <img src="../images/avatar-default.png">
                    </a>
                </li>
                <li class="nav_login">
                    <a href="login.html">Login</a>
                </li>
                <li class="nav_signup">
                    <a href="signup.html">Sign Up</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

{% block container %}
<div class="auth-container" id="opr-app">
    <h1>Login</h1>
    <p>Don't have an account? <a href="signup.html">Create account</a></p>

    <!-- TODO: Social buttons -->
    <!--    <div class="socialaccount_ballot">-->
    <!--        <p>Select login method:</p>-->
    <!--        <ul class="socialaccount_providers">-->
    <!--            {% include "socialaccount/snippets/provider_list.html" with process="login" %}-->
    <!--        </ul>-->
    <!--    </div>-->
    <form class="login-form form-hidden" method="POST" action="#">

        <!-- TODO: Login form errors -->
        <!--                {% for error in form.non_field_errors %}-->
        <!--                    <div class="form-error">-->
        <!--                        <img src="{% static 'dist/images/icon-warning.png' %}"/>-->
        <!--                        <div class="erorr-description">{{ error|escape }}</div>-->
        <!--                    </div>-->
        <!--                {% endfor %}-->
        <div class="form-item">
            <div>Nickname:</div>
            <div><input name="form.login.html_name" placeholder="Enter your nickname" class="login-form-input" required="true"/></div>
        </div>
        <div class="form-item">
            <div>Password:</div>
            <div><input type="password" name="form.password.html_name" placeholder="Enter strong password" class="login-form-input" required="true"/></div>
            <div class="input-description">We don't save your password, if you loose it, we can't help you get back access to account.</div>
        </div>
        <button class="primaryAction" type="submit">Continue</button>
    </form>
</div>
{% endblock %}

<footer class="footer">
    <p>&copy; 2019 <a href="https://openplacereviews.org/">OpenPlaceReviews.org</a></p>
</footer>

<script src="../js/main.js"></script>
</body>
</html>
