<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="icon" type="image/png" sizes="180x180" href="../images/icons/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="180x180" href="../images/icons/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/icons/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/app.min.css">
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
</head>
<body>

<input id="toggle" type="checkbox">
<header>
    <div class="block-header">
        <div class="logo">
            <a href="../index.html">
                <img src="../images/OpenPlaceReview.svg" alt="OpenPlaceReviews.org logo" class="center"/>
            </a>
        </div>

        <label class="toggle-container" for="toggle">
            <span class="button button-toggle"></span>
        </label>
        <nav class="nav">
            <ul>
                <li>
                    <a href="../investing.html">For Investors</a>
                </li>
                <li class="my_account">
                    <a href="#">My account</a>
                </li>
                <li class="avatar_my_account">
                    <a href="#">
                        <img src="../images/avatar-default.png">
                    </a>
                </li>
                <li class="nav_login">
                    <a href="login.html">Login</a>
                </li>
                <li class="nav_signup">
                    <a href="signup.html">Sign Up</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

{% block container %}
<div class="auth-container" id="opr-app">
    <h1>Sign Up</h1>
    {% block content %}
    {% endblock %}
</div>
{% endblock %}

<footer class="footer">
    <p>&copy; 2019 <a href="https://openplacereviews.org/">OpenPlaceReviews.org</a></p>
</footer>

<script src="../js/main.js"></script>
</body>
</html>
