.auth-container {
  .oauth_avatar {
    position: absolute;
    margin-left: -70px;
    img{
      width: 50px;
      height: 50px;
      border-radius: 50px; /* Радиус скругления */
      //border: 3px solid green; /* Параметры рамки */
    }
  }
}
