.leaflet-container {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.marker-cluster {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.leaflet-oldie .marker-cluster-large,
.leaflet-oldie .marker-cluster-large div,
.leaflet-oldie .marker-cluster-medium,
.leaflet-oldie .marker-cluster-medium div,
.leaflet-oldie .marker-cluster-small,
.leaflet-oldie .marker-cluster-small div,
.marker-cluster-large,
.marker-cluster-medium,
.marker-cluster-small,
.marker-cluster-large div,
.marker-cluster-medium div,
.marker-cluster-small div {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #2D69E0;
  margin-top: 10px;
  text-align: center;
}

.map-filter {
  width: 100%;
}

.map-filter-header {
  font-weight: bold;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: #2D2F33;
}

.map-filter-select {
  height: 40px;
  border: 1px solid #CCD0D9;
  box-sizing: border-box;
  border-radius: 22px;
  margin: 15px 0;
  padding-left: 10px;
}

.map-filter-option {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #2D69E0;
}
