.blocks_items{
  width: 100%;
  padding-right: 20px;
  &:first-child{
    border-top: 1px solid #E4E8F2;
  }
  .block_item{
    display: flex;
    height: 100%;
    padding-right: 20px;

    .block-icon, .main_info, .second_info{
      vertical-align: top;
      display: inline-block;
      padding-top: 14px;
      height: 100%;
    }
    .block-icon{
      background: url("../images/block-icon.png") 15px 20px no-repeat;
      background-size: 16px 8px;
      width: 50px;
      padding: 14px 0;
    }
    .main_info{
      text-align: left;
      padding-left: 10px;
      .title_block{
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.02em;
        color: #2D69E0;
      }
      .opr_count, .date{
        font-size: 15px;
        line-height: 21px;
        letter-spacing: 0.01em;
        color: #6A7181;
        & span{
          color: #212121;
          font-weight: 500;
        }
      }

    }
    .second_info{
      margin-left: auto;
      text-align: right;
      .second_info_container{
        position:relative;
        height: 100%;
        .hash{
          color: #ACB2BF;
          font-size: 15px;
          font-weight: 500;
          font-family: 'IBM Plex Mono';
        }
      }
    }
  }

  .raw_json_block_item{
    border-bottom: 1px solid #E4E8F2;
  }
  .raw_json_block {
    display: flex;
    margin-left: 60px;
    margin-bottom: 14px;
    .raw_json {
      display: inline-block;
      font-family: IBM Plex Mono;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: normal;
      letter-spacing: 0.01em;
      color: #2D69E0;
      cursor: pointer;
      width: 100px;
      &:after {
        position: relative;
        display: inline-block;
        left: 12px;
        color: #ACB2BF;
        margin-top: 4px;
        border-style: solid;
        border-width: 5px 5px 0;
        border-color: #ACB2BF transparent transparent;
        content: "";
        bottom: 2px;
      }
      &.selected:after{
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
    .signed_by{
      margin-left: auto;
      text-align: right;
      white-space: nowrap;
      font-size: 15px;
      color: #6A7181;
      display: inline-block;
      padding-right: 20px;
      & span{
        color: #212121;
      }
    }
  }
  pre{
    overflow-y: hidden;
    display: none;
    margin-left: 60px;
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.01em;
    border: 1px solid #CCD0D9;
    box-sizing: border-box;
    border-radius: 5px;
    .hljs{
      max-height: 400px;
    }
  }
}

.block_main_info{
  background: #F0F1F4;
  border: 1px solid #F0F1F4;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
  ul{
    margin-left: 20px;
    padding-left: 0;
    li{
      list-style: none;
      color: #6A7181;
      margin-left: 0;
      padding: 3px 0;
      span {
        color: #212121;
      }
    }
  }

}
