{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% block head_title %}{% endblock %}{% endblock %}
{% block header %}<header class="auth-page">
    <div class="block-header">
        <div class="logo">
           <a href="{% url 'frontpage' %}">
                <img src="{% static 'dist/images/OpenPlaceReview.png' %}" alt="OpenPlaceReviews.org logo" class="center"/>
            </a>
        </div>
        <nav>
            <ul>
                {% if request.user.is_authenticated %}
                    <li class="my_account">
                        <a href="#">My account</a>
                    </li>
                    <li class="avatar_my_account"><a href="{% url 'account_logout' %}"><img src="{% static 'dist/images/avatar-default.png' %}"></a></li>
                {% else %}
                    {% url 'account_login' as login_url %}
                    {% if request.path == login_url %}
                        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                    {% else %}
                        <li><a href="{{ login_url }}">Login</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>
</header>{% endblock %}
{% block container %}
    <div class="auth-container" id="opr-app">
        <h1>
            {% block headline %}
            {% endblock %}
        </h1>
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
