{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block header %}
<header class="auth-page">
    <div class="block-header">
        <div class="logo">
           <a href="{% url 'frontpage' %}">
                <img src="{% static 'dist/images/opr_logo.png' %}" alt="OpenPlaceReviews.org logo" class="center"/>
            </a>
        </div>
        <nav>
            <ul>
{#                <li><a href="{% url 'account_login' %}">Login</a></li>#}
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            </ul>
        </nav>
    </div>
</header>
{% endblock %}

{% block container %}
    <div class="auth-container" id="opr-app">
        <h1>{% trans "Login" %}</h1>
        <p>Don't have an account? <a href="{% url 'account_signup' %}">Create account</a></p>

        <div class="socialaccount_ballot">
            <p>Select login method:</p>
            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
        </div>
        <form class="login-form {% if not form.errors %}form-hidden{% endif %}" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="form-error">
                            <img src="{% static 'dist/images/icon-warning.png' %}"/><div class="erorr-decsription">{{ error|escape }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="form-item">
                    <div>Nickname:</div>
                    <div><input name="{{ form.login.html_name }}" placeholder="Enter your nickname" class="login-form-input" required="true"/></div>
                </div>
                <div class="form-item">
                    <div>Password:</div>
                    <div><input type="password" name="{{ form.password.html_name }}" placeholder="Enter strong password" class="login-form-input" required="true"/></div>
                    <div class="input-description">We don't save your password, if you loose it, we can't help you get back access to account.</div>
                </div>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="primaryAction" type="submit">{% trans "Continue" %}</button>
        </form>
    </div>
{% endblock %}
