{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block header %}
<header class="auth-page">
    <div class="block-header">
        <div class="logo">
           <a href="{% url 'frontpage' %}">
                <img src="{% static 'dist/images/opr_logo.png' %}" alt="OpenPlaceReviews.org logo" class="center"/>
            </a>
        </div>
        <nav>
           {% if request.user.is_authenticated %}
                <div class="my_account">
                    <a class="not-border" href="#">My account</a>
                </div>
                <div class="avatar_logout"><a href="{% url 'account_logout' %}"><img src="{% static 'dist/images/avatar-default.png' %}"></a></div>
            {% endif %}
        </nav>
    </div>
</header>
{% endblock %}



{% block container %}
    <div class="auth-container" id="opr-app">
        <h1>{% trans "Sign Out" %}</h1>

        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button type="submit">{% trans 'Sign Out' %}</button>
        </form>
    </div>

{% endblock %}
