{% extends "account/base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}
{% block headline %}
    {% url 'account_signup' as account_signup_url %}
    {% if request.path == account_signup_url %}
        {% trans "Sign Up" %}
    {% else %}
        <div class="oauth_avatar">
            {% if account.get_avatar_url %}
                <img src="{{ account.get_avatar_url }}">
            {% else %}
                <img src="{% static 'dist/images/avatar-default.png' %}">
            {% endif %}
        </div>
        Welcome,<br>
        {% if account.get_profile_url %}
            <a href="{{ account.get_profile_url }}" target="_blank">
                {{ account.extra_data.name }}
            </a>
        {% else %}
            {{ account.extra_data.name }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    {% url 'account_signup' as account_signup_url %}
    {% if request.path == account_signup_url %}
        <p>
            OpenPlaceReviews has a public database, so we do not store any private data.
            You can select a nickname and it will be visible to everyone.<br>
            Already have an account? Then please <a href="{% url 'account_login' %}">Login</a>.
        </p>
    {% else %}
        <p>You are almost ready to sign up.<br>
            Open Place Reviews <b>stores all changes in a public database</b>
            except private data marked with *.
        </p>
    {% endif %}

    {% if request.path == account_signup_url %}
    <div class="socialaccount_ballot">
        <p>Select sign up method:</p>
        <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="signup" %}
        </ul>
    </div>
    {% endif %}
    <form
        class="signup{% if not form.errors and request.path == account_signup_url %} form-hidden{% endif %}"
        method="post"
        action="{% if request.path == account_signup_url %}{% url 'account_signup' %}{% else %}{% url 'socialaccount_signup' %}{% endif %}">
      {% csrf_token %}
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="form-error">
                    <img src="{% static 'dist/images/icon-warning.png' %}"/><div class="erorr-description">{{ error|escape }}</div>
                </div>
            {% endfor %}
        {% endif %}
         <div class="form-item">
            <div>E-mail*:</div>
            <div><input
                    name="{{ form.email.html_name }}"
                    required="true"
                    class="login-form-input{% if form.email.errors %} error-field{% endif %}"
                    value="{{ form.email.value|default:'' }}"
                    placeholder="Enter email"/></div>
            {% for error in form.email.errors %}
            <div class="form-field-error">
                <img src="{% static 'dist/images/icon-warning.png' %}"/><div class="erorr-description">{{ error }}</div>
            </div>
            {% endfor %}
            <div class="input-description">
                Will not be published to Open Place Reviews and will be only used for system notifications
            </div>
        </div>
        <div class="form-item">
            <div>Nickname:</div>
            <div><input
                    name="{{ form.username.html_name }}"
                    required="true"
                    class="login-form-input{% if form.username.errors %} error-field{% endif %}"
                    value="{{ form.username.value|default:'' }}"
                    placeholder="Enter a nickname"/></div>
            {% for error in form.username.errors %}
            <div class="form-field-error">
                <img src="{% static 'dist/images/icon-warning.png' %}"/><div class="erorr-description">{{ error }}</div>
            </div>
            {% endfor %}
        </div>
        {% if request.path == account_signup_url %}
        <div class="form-item">
            <div>Password:</div>
            <div><input
                    name="{{ form.password1.html_name }}"
                    class="login-form-input{% if form.password1.errors %} error-field{% endif %}"
                    placeholder="Enter strong password"
                    type="password"
                    required="true"/></div>
            {% for error in form.password1.errors %}
            <div class="form-field-error">
                <img src="{% static 'dist/images/icon-warning.png' %}"/><div class="erorr-description">{{ error }}</div>
            </div>
            {% endfor %}
        </div>
        <div class="form-item">
            <div>Password (again):</div>
            <div><input
                    name="{{ form.password2.html_name }}"
                    class="login-form-input{% if form.password2.errors %} error-field{% endif %}"
                    placeholder="Repeat password"
                    type="password"
                    required="true"/></div>
            {% for error in form.password2.errors %}
            <div class="form-field-error">
                <img src="{% static 'dist/images/icon-warning.png' %}"/><div class="erorr-description">{{ error }}</div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="form-item-boolean">
            <div class="signup-checkbox-block">
                <label class="box-label">
                    <input
                        type="checkbox"
                        required="True"
                        name="{{ form.contribution_terms.html_name }}"
                        {% if form.contribution_terms.value %}checked{% endif %}
                    />
                    <span class="box"></span>
                </label>
                <div>
                    <div class="signup-input-label">I agree with <a href="{% url 'contributor_terms' %}" target="_blank">Contribution Terms</a></div>
                    <div class="signup-input-description">
                        Please read Contribution Terms carefully and accept it before website. Your contributions will be provided under CC-0 License.
                    </div>
                </div>
            </div>
            <expand-block expand_data='{% include "contributor_terms.html" %}'></expand-block>
        </div>

        <div class="form-item-boolean">
            <div class="signup-checkbox-block">
                <label class="box-label">
                    <input
                        type="checkbox"
                        required="True"
                        name="{{ form.terms_of_service.html_name }}"
                        {% if form.terms_of_service.value %}checked{% endif %}
                    />
                    <span class="box"></span>
                </label>
                <div>
                    <div class="signup-input-label">I agree with <a href="{% url 'terms_of_service' %}" target="_blank">Terms of Service</a></div>
                    <div class="signup-input-description">Please accept Terms of Service before using website.
                    </div>
                </div>
            </div>
            <expand-block expand_data='{% include "terms_of_service.html" %}'></expand-block>
        </div>

        <div class="optional-fields">
            <div class="headline-optional-fields">Optional fields</div>
            <div class="optional-field">
                <div class="optional_field_lable">Spoken languages:</div>
                <select-search
                    :options="{{ all_languages_vue }}"
                    :multiple="true"
                    name_field="{{ form.languages.html_name }}"
                    :default-value-select="{{ form.languages.value|default:'[]' }}"
                ></select-search>
            </div>
            <div class="optional-field">
                <div class="optional_field_lable">Country you live:</div>
                <select-search
                    :options="{{ all_countries_vue }}"
                    name_field="{{ form.country.html_name }}"
                    @input="onChange()"
                    :default-value-select="['{{ form.country.value }}']"
                ></select-search>
            </div>
        </div>

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="btn-blue1">{% trans "Sign Up" %}</button>
    </form>
{% endblock %}
<script>
    import ExpandBlock from "../../../html/js/components/ExpandBlock";
    export default {
        components: {ExpandBlock}
    }
</script>
