{% extends "account/base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block header %}
<header class="auth-page">
    <div class="block-header">
        <div class="logo">
           <a href="{% url 'frontpage' %}">
                <img src="{% static 'dist/images/opr_logo.png' %}" alt="OpenPlaceReviews.org logo" class="center"/>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'account_login' %}">Login</a></li>
{#                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>#}
            </ul>
        </nav>
    </div>
</header>
{% endblock %}

{% block container %}
<div class="auth-container" id="opr-app">
    <h1>{% trans "Sign Up" %}</h1>
    <p>
        OpenPlaceReviews has a public database, so we can not store any private data.
        You can select a nickname and it will be visible to everyone.<br>
        Already have an account? Then please <a href="{% url 'account_login' %}">Login</a>.
    </p>

    <div class="socialaccount_ballot">
        <p>Select login method:</p>
        <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="signup" %}
        </ul>
    </div>

    <form class="signup{% if not form.errors %} form-hidden{% endif %}" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="form-error">
                    <img src="{% static 'dist/images/icon-warning.png' %}"/><div class="erorr-decsription">{{ error|escape }}</div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="form-item">
            <div>Nickname:</div>
            <div><input
                    name="{{ form.username.html_name }}"
                    required="true"
                    class="login-form-input{% if form.username.errors %} error-field{% endif %}"
                    value="{{ form.username.value|default:'' }}"
                    placeholder="Hint text"/></div>
            {% for error in form.username.errors %}
            <div class="form-field-error">
                <img src="{% static 'dist/images/icon-warning.png' %}"/><div class="erorr-decsription">{{ error }}</div>
            </div>
            {% endfor %}
        </div>
        <div class="form-item">
            <div>E-mail*:</div>
            <div><input
                    name="{{ form.email.html_name }}"
                    class="login-form-input{% if form.email.errors %} error-field{% endif %}"
                    value="{{ form.email.value|default:'' }}"
                    placeholder="Hint text"/></div>
            {% for error in form.email.errors %}
            <div class="form-field-error">
                <img src="{% static 'dist/images/icon-warning.png' %}"/><div class="erorr-decsription">{{ error }}</div>
            </div>
            {% endfor %}
            <div class="input-description">
                Will not be published to Open Place Reviews DB, and will be only used for system notifications
            </div>
        </div>
        <div class="form-item">
            <div>Password:</div>
            <div><input
                    name="{{ form.password1.html_name }}"
                    class="login-form-input{% if form.password1.errors %} error-field{% endif %}"
                    placeholder="Hint text"
                    type="password"
                    required="true"/></div>
            {% for error in form.password1.errors %}
            <div class="form-field-error">
                <img src="{% static 'dist/images/icon-warning.png' %}"/><div class="erorr-decsription">{{ error }}</div>
            </div>
            {% endfor %}
        </div>
        <div class="form-item">
            <div>Password (again):</div>
            <div><input
                    name="{{ form.password2.html_name }}"
                    class="login-form-input{% if form.password2.errors %} error-field{% endif %}"
                    placeholder="Hint text"
                    type="password"
                    required="true"/></div>
            {% for error in form.password2.errors %}
            <div class="form-field-error">
                <img src="{% static 'dist/images/icon-warning.png' %}"/><div class="erorr-decsription">{{ error }}</div>
            </div>
            {% endfor %}
        </div>
        <div class="form-item-boolean">
            <div class="signup-checkbox-block">

                <input
                    type="checkbox"
                    required="True"
                    name="{{ form.terms_and_services.html_name }}"
                    {% if form.terms_and_services.value %}checked{% endif %}
                />
                <div>
                    <div class="signup-input-label">I agree with <a href="#">Terms and Services</a></div>
                    <div class="signup-input-description">
                        Please read these Terms & Services cerafully before using the https://openplacereviews.net website...
                    </div>
                </div>
            </div>
            <expand-block expand_data='{% include "terms_and_services.html" %}'></expand-block>


        </div>

        <div class="form-item-boolean">
            <div class="signup-checkbox-block">
                <input
                    type="checkbox"
                    required="True"
                    name="{{ form.contribution_terms.html_name }}"
                    {% if form.contribution_terms.value %}checked{% endif %}
                />
                <div>
                    <div class="signup-input-label">I agree with <a href="#">Contribution Terms</a></div>
                    <div class="signup-input-description">
                        Please read these Contribution Terms cerafully before using the https://openplacereviews.net website...
                    </div>
                </div>
            </div>
            <expand-block expand_data='{% include "contributor_terms.html" %}'></expand-block>
        </div>

        <div class="optional-fields">
            <div class="headline-optional-fields">Optional fields:</div>
            <div class="optional-field">
                <div>Spoken languages:</div>
                <select-search
                    :options="{{ all_languages_vue }}"
                    :multiple="true"
                    name_field="{{ form.languages.html_name }}"
                    :default-value-select="{{ form.languages.value|default:'[]' }}"
                ></select-search>
            </div>

            <div class="optional-field">
                <div>Country you live:</div>
                <select-search
                    :options="{{ all_countries_vue }}"
                    name_field="{{ form.country.html_name }}"
                    @input="onChange()"
                    :default-value-select="['{{ form.country.value }}']"
                ></select-search>
            </div>
        </div>

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="btn-blue1">{% trans "Sign Up" %}</button>
    </form>
</div>
{% endblock %}
<script>
    import ExpandBlock from "../../assets/js/components/ExpandBlock";
    export default {
        components: {ExpandBlock}
    }
</script>