@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans Light'), local('IBMPlexSans-Light'), url('../fonts/ibmplexsans/Ibmplexsanslight.woff2') format('woff2'), url('../fonts/ibmplexsans/Ibmplexsanslight.woff') format('woff'), url('../fonts/ibmplexsans/Ibmplexsanslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans'), local('IBMPlexSans'), url('../fonts/ibmplexsans/Ibmplexsans.woff2') format('woff2'), url('../fonts/ibmplexsans/Ibmplexsans.woff') format('woff'), url('../fonts/ibmplexsans/Ibmplexsans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'), url('../fonts/ibmplexsans/Ibmplexsanssemibold.woff2') format('woff2'), url('../fonts/ibmplexsans/Ibmplexsanssemibold.woff') format('woff'), url('../fonts/ibmplexsans/Ibmplexsanssemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans Thin'), local('IBMPlexSans-Thin'), url('../fonts/ibmplexsans/Ibmplexsansthin.woff2') format('woff2'), url('../fonts/ibmplexsans/Ibmplexsansthin.woff') format('woff'), url('../fonts/ibmplexsans/Ibmplexsansthin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans Italic'), local('IBMPlexSans-Italic'), url('../fonts/ibmplexsans/Ibmplexsansitalic.woff2') format('woff2'), url('../fonts/ibmplexsans/Ibmplexsansitalic.woff') format('woff'), url('../fonts/ibmplexsans/Ibmplexsansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans Medium Italic'), local('IBMPlexSans-MediumItalic'), url('../fonts/ibmplexsans/Ibmplexsansmediumitalic.woff2') format('woff2'), url('../fonts/ibmplexsans/Ibmplexsansmediumitalic.woff') format('woff'), url('../fonts/ibmplexsans/Ibmplexsansmediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans ExtraLight Italic'), local('IBMPlexSans-ExtraLightItalic'), url('../fonts/ibmplexsans/Ibmplexsansextralightitalic.woff2') format('woff2'), url('../fonts/ibmplexsans/Ibmplexsansextralightitalic.woff') format('woff'), url('../fonts/ibmplexsans/Ibmplexsansextralightitalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans Light Italic'), local('IBMPlexSans-LightItalic'), url('../fonts/ibmplexsans/Ibmplexsanslightitalic.woff2') format('woff2'), url('../fonts/ibmplexsans/Ibmplexsanslightitalic.woff') format('woff'), url('../fonts/ibmplexsans/Ibmplexsanslightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans Thin Italic'), local('IBMPlexSans-ThinItalic'), url('../fonts/ibmplexsans/Ibmplexsansthinitalic.woff2') format('woff2'), url('../fonts/ibmplexsans/Ibmplexsansthinitalic.woff') format('woff'), url('../fonts/ibmplexsans/Ibmplexsansthinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans Medium'), local('IBMPlexSans-Medium'), url('../fonts/ibmplexsans/Ibmplexsansmedium.woff2') format('woff2'), url('../fonts/ibmplexsans/Ibmplexsansmedium.woff') format('woff'), url('../fonts/ibmplexsans/Ibmplexsansmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans ExtraLight'), local('IBMPlexSans-ExtraLight'), url('../fonts/ibmplexsans/Ibmplexsansextralight.woff2') format('woff2'), url('../fonts/ibmplexsans/Ibmplexsansextralight.woff') format('woff'), url('../fonts/ibmplexsans/Ibmplexsansextralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans Bold Italic'), local('IBMPlexSans-BoldItalic'), url('../fonts/ibmplexsans/Ibmplexsansbolditalic.woff2') format('woff2'), url('../fonts/ibmplexsans/Ibmplexsansbolditalic.woff') format('woff'), url('../fonts/ibmplexsans/Ibmplexsansbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans SemiBold Italic'), local('IBMPlexSans-SemiBoldItalic'), url('../fonts/ibmplexsans/Ibmplexsanssemibolditalic.woff2') format('woff2'), url('../fonts/ibmplexsans/Ibmplexsanssemibolditalic.woff') format('woff'), url('../fonts/ibmplexsans/Ibmplexsanssemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'), url('../fonts/ibmplexsans/Ibmplexsansbold.woff2') format('woff2'), url('../fonts/ibmplexsans/Ibmplexsansbold.woff') format('woff'), url('../fonts/ibmplexsans/Ibmplexsansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: local('IBM Plex Mono Light'), local('IBMPlexMono-Light'), url('../fonts/ibmplexmono/Ibmplexmonolight.woff2') format('woff2'), url('../fonts/ibmplexmono/Ibmplexmonolight.woff') format('woff'), url('../fonts/ibmplexmono/Ibmplexmonolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: local('IBM Plex Mono'), local('IBMPlexMono'), url('../fonts/ibmplexmono/Ibmplexmono.woff2') format('woff2'), url('../fonts/ibmplexmono/Ibmplexmono.woff') format('woff'), url('../fonts/ibmplexmono/Ibmplexmono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: local('IBM Plex Mono SemiBold'), local('IBMPlexMono-SemiBold'), url('../fonts/ibmplexmono/Ibmplexmonosemibold.woff2') format('woff2'), url('../fonts/ibmplexmono/Ibmplexmonosemibold.woff') format('woff'), url('../fonts/ibmplexmono/Ibmplexmonosemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: local('IBM Plex Mono Thin'), local('IBMPlexMono-Thin'), url('../fonts/ibmplexmono/Ibmplexmonothin.woff2') format('woff2'), url('../fonts/ibmplexmono/Ibmplexmonothin.woff') format('woff'), url('../fonts/ibmplexmono/Ibmplexmonothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: local('IBM Plex Mono Italic'), local('IBMPlexMono-Italic'), url('../fonts/ibmplexmono/Ibmplexmonoitalic.woff2') format('woff2'), url('../fonts/ibmplexmono/Ibmplexmonoitalic.woff') format('woff'), url('../fonts/ibmplexmono/Ibmplexmonoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: local('IBM Plex Mono Medium Italic'), local('IBMPlexMono-MediumItalic'), url('../fonts/ibmplexmono/Ibmplexmonomediumitalic.woff2') format('woff2'), url('../fonts/ibmplexmono/Ibmplexmonomediumitalic.woff') format('woff'), url('../fonts/ibmplexmono/Ibmplexmonomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: local('IBM Plex Mono ExtraLight Italic'), local('IBMPlexMono-ExtraLightItalic'), url('../fonts/ibmplexmono/Ibmplexmonoextralightitalic.woff2') format('woff2'), url('../fonts/ibmplexmono/Ibmplexmonoextralightitalic.woff') format('woff'), url('../fonts/ibmplexmono/Ibmplexmonoextralightitalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: local('IBM Plex Mono Light Italic'), local('IBMPlexMono-LightItalic'), url('../fonts/ibmplexmono/Ibmplexmonolightitalic.woff2') format('woff2'), url('../fonts/ibmplexmono/Ibmplexmonolightitalic.woff') format('woff'), url('../fonts/ibmplexmono/Ibmplexmonolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: local('IBM Plex Mono Thin Italic'), local('IBMPlexMono-ThinItalic'), url('../fonts/ibmplexmono/Ibmplexmonothinitalic.woff2') format('woff2'), url('../fonts/ibmplexmono/Ibmplexmonothinitalic.woff') format('woff'), url('../fonts/ibmplexmono/Ibmplexmonothinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: local('IBM Plex Mono Medium'), local('IBMPlexMono-Medium'), url('../fonts/ibmplexmono/Ibmplexmonomedium.woff2') format('woff2'), url('../fonts/ibmplexmono/Ibmplexmonomedium.woff') format('woff'), url('../fonts/ibmplexmono/Ibmplexmonomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: local('IBM Plex Mono ExtraLight'), local('IBMPlexMono-ExtraLight'), url('../fonts/ibmplexmono/Ibmplexmonoextralight.woff2') format('woff2'), url('../fonts/ibmplexmono/Ibmplexmonoextralight.woff') format('woff'), url('../fonts/ibmplexmono/Ibmplexmonoextralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: local('IBM Plex Mono Bold Italic'), local('IBMPlexMono-BoldItalic'), url('../fonts/ibmplexmono/Ibmplexmonobolditalic.woff2') format('woff2'), url('../fonts/ibmplexmono/Ibmplexmonobolditalic.woff') format('woff'), url('../fonts/ibmplexmono/Ibmplexmonobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: local('IBM Plex Mono SemiBold Italic'), local('IBMPlexMono-SemiBoldItalic'), url('../fonts/ibmplexmono/Ibmplexmonosemibolditalic.woff2') format('woff2'), url('../fonts/ibmplexmono/Ibmplexmonosemibolditalic.woff') format('woff'), url('../fonts/ibmplexmono/Ibmplexmonosemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: local('IBM Plex Mono Bold'), local('IBMPlexMono-Bold'), url('../fonts/ibmplexmono/Ibmplexmonobold.woff2') format('woff2'), url('../fonts/ibmplexmono/Ibmplexmonobold.woff') format('woff'), url('../fonts/ibmplexmono/Ibmplexmonobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}