{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Open Place Reviews{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="180x180" href="{% static 'dist/images/icons/favicon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="180x180" href="{% static 'dist/images/icons/favicon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'dist/images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dist/images/icons/favicon-16x16.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{% static 'dist/css/app.min.css' %}">

    {% block extra_styles %}{% endblock %}
</head>
<body>

    {% if messages %}
        <ul class="messages-notify">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block header %}
        {% include '_include/header.html' %}
    {% endblock %}

    {% block container %}
        <main class="main" id="opr-app">
            {% block menu %}
            {% endblock %}
            <h1>
                {% block headline %}
                {% endblock %}
            </h1>
            {% block content %}
            {% endblock %}
        </main>
    {% endblock %}

    {% include '_include/footer.html' %}
    {% include '_scripts.html' %}
</body>
</html>
