{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=1100">
    <title>{% block title %}Open Place Reviews{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="180x180" href="{% static 'dist/images/icons/favicon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="180x180" href="{% static 'dist/images/icons/favicon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'dist/images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dist/images/icons/favicon-16x16.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dist/css/app.min.css' %}">
    {% block extra_styles %}{% endblock %}
</head>
<body>
    <div class="for_investors landing-container" id="opr-app">
        {% include 'landing/for_investors/first_screen.html' %}

        <div class="second-screen">
            <h1>User needs</h1>
            <div class="container_flex">
                <div class="user_need_item">
                    As a <b>map user</b>, I would like to read, share and write reviews in
                    my favorite app (<i>Maps.me, OsmAnd</i>), unfortunately I need to use
                    multiple sytems like <i>TripAdvisor, Yelp</i> which don’t provide good
                    map information
                    <div class="user_need_border"></div>
                    <div><b>OpenStreetMap users</b> • 500M</div>
                    <div class="gray_text"><i>Open Reviews</i></div>
                </div>
                <div class="user_need_item">
                    As an <b>active mapper</b>, I would like to provide more details about
                    place and its facilities like attach place photo, detailed
                    list of service and I can’t do it today in OSM
                    <div class="user_need_border"></div>
                    <div><b>OpenStreetMap community</b> • 5M</div>
                    <div class="gray_text"><i>Place catalog</i></div>
                </div>
                <div class="user_need_item">
                    As an <b>advanced user</b> or as a custom app <b>developer</b>, I would like
                    to have ways to build custom filters via API or apps  and that
                    I can share information about places with particular service
                    and reviews about that service
                    <div class="user_need_border"></div>
                    <div><b>Advanced users, Developers</b> • 5M, 1K</div>
                    <div class="gray_text"><i>Extensibility and API</i></div>
                </div>
                <div class="user_need_item">
                    As an <b>owner of local busines</b> I would like to reach the largest
                    audience where it is relevant to it and offer special deals i.e.
                    when user is looking for a place by browsing map and reviews
                    <div class="user_need_border"></div>
                    <div><b>Local businesses</b> • 20M</div>
                    <div class="gray_text"><i>Local ads platform</i></div>
                </div>
            </div>
        </div>

        <div class="border_screen"></div>
        <div class="third-screen">
            <h1>Open World is waiting for Open Reviews Platform!</h1>
            <p class="screen_description">
                We believe that information provided by users should not be
                collected in any hidden way with a privacy respect and should be
                available for everyone for any possible usage.
            </p>
            <div class="screen_3_maps"></div>
        </div>
        <div class="border_screen"></div>
        <div class="fourth-screen">
            <h1>Market numbers</h1>
            <p>Market numbers and comparision between platforms & commercial companies.</p>
            <div>
                <div class="thead">
                    <div>Product, Platform
                    </div><div>Reviews / Year
                    </div><div>Places
                    </div><div>Audience</div>
                </div>
                <div class="trow">
                    <div>Google Maps
                    </div><div>100M
                    </div><div>100M
                    </div><div>1000M</div>
                </div>
                <div class="trow">
                    <div>Facebook
                    </div><div>30M
                    </div><div>10M
                    </div><div>2000M</div>
                </div>
                <div class="trow">
                    <div>TripAdvisor
                    </div><div>50M
                    </div><div>10M
                    </div><div>500M</div>
                </div>
                <div class="yelp trow">
                    <div>Yelp
                    </div><div>25M
                    </div><div>5M
                    </div><div>5000M</div>
                </div>
                <div class="trow">
                    <div>OpenStreetMap apps
                    </div><div>--
                    </div><div><span class="down_arr down_arr_2">20M</span>
                    </div><div><span class="down_arr down_arr_3">500M</span></div>
                </div>
                <div class="opr_apps trow">
                    <div>OpenPlaceReviews apps<br><span class="gray_target">(target by 2020)</span>
                    </div><div><span class="up_arr">25M</span>
                    </div><div><span class="white_item">20M</span>
                    </div><div><span class="white_item">100M</span></div>
                </div>
            </div>
        </div>
        <div class="fifth-screen">
            <div class="container">
                <h1>Number of reviews over time</h1>
                <p>Comparision of Local Review Sites according to <br>
                    <a href=">https://www.brightlocal.com/research/comparison-of-local-review-sites/">
                        https://www.brightlocal.com/research/comparison-of-local-review-sites/
                    </a>
                </p>
                <h2>July 2016 - July 2017</h2>
                <div class="container_flex flex-v-align-center">
                    <div class="screen_5_graphic"></div>
                    <div class="legend">
                        <div class="google">Google</div>
                        <div class="facebook">Facebook</div>
                        <div class="yelp">Yelp</div>
                        <div class="tripadvisor">TripAdvisor</div>
                        <div class="foursquare">Foursquare</div>
                    </div>
                </div>
                <div class="container_flex graphic_x">
                    <div>07-16</div>
                    <div>08-16</div>
                    <div>09-16</div>
                    <div>10-16</div>
                    <div>11-16</div>
                    <div>12-16</div>
                    <div>01-17</div>
                    <div>02-17</div>
                    <div>03-17</div>
                    <div>04-17</div>
                    <div>05-17</div>
                    <div>06-17</div>
                    <div>07-17</div>
                </div>
            </div>
        </div>

        <div class="sixth-screen">
            <h1>Open World disrupts Google monopoly</h1>
            <p>
                Google is a leading platform for both maps and local reviews. As we can see
                there is no single close competitor to Google Maps, on the other hand
                applications based on OpenStreetMap in total is growing each year and
                could easily exceed Google Maps audience in 2-3 years. <br>
                If OpenPlaceReviews kicks off, it could reach the level to compete in 1-2 years.
            </p>
            <h2>Map apps / Audience</h2>
            <div class="screen_6_graphic_1"></div>
            <h2>Map apps — Reviews per year</h2>
            <div class="screen_6_graphic_2"></div>
        </div>
        <div class="border_screen"></div>
        <div class="seventh-screen">
            <div class="founders">
                <h1>Founders</h1>
                <div class="flex_conteiner">
                    <div>
                        <div class="founder_block">
                            <img src="{% static 'dist/images/landing/victor_shcherb.png' %}">
                            <div>
                                <div class="fuunder_name victor">Victor Shcherb</div>
                                <div class="position">2010-Present</div>
                                <div class="link">CEO & Founder <a href="https://osmand.net/">OsmAnd</a></div>
                            </div>
                        </div>
                        <h2>Background</h2>
                        <ul>
                            <li>Technology Architect @ Pegasystems</li>
                            <li>Lead Java Developer - 10 years</li>
                        </ul>
                        <h2>Responsibilities</h2>
                        <ul>
                            <li>Technical leadership</li>
                            <li>Product design</li>
                            <li>Product development</li>
                        </ul>
                        <div class="contact"><a href="#">Contact</a>
                        </div><div class="contact"><a href="#">LinkedIn</a></div>
                    </div><!--
                    --><div>
                        <div class="founder_block">
                            <img src="{% static 'dist/images/landing/evgene_lisovsky.png' %}">
                            <div>
                                <div class="fuunder_name eugene">Eugene Lisovsky</div>
                                <div class="position">2016-Present</div>
                                <div class="link">CEO <a href="https://maps.me/">Maps.me</a></div>
                            </div>
                        </div>
                        <h2>Background</h2>
                        <ul>
                            <li>CMO & Shareholder @ LITRES.ru</li>
                            <li>Founder & CMO @ MoikaMoika</li>
                            <li>Exit 2018</li>
                        </ul>
                        <h2>Responsibilities</h2>
                        <ul>
                            <li>Business Development</li>
                            <li>Partner connections</li>
                            <li>Product Econonomy</li>
                        </ul>
                        <div class="contact"><a href="#">Contact</a>
                        </div><div class="contact"><a href="#">LinkedIn</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border_screen"></div>
        <div class="eighth-screen">
            <h1>Problems</h1>
            <p>Users, Local Business, Geo Applications</p>
            <div class="container_flex">
                <div class="item">
                    <h2>Users</h2>
                    <p class="gray_text">Looking for place reviews</p>
                    <div class="border_item_2px"></div>
                    <p><b>Lack of Trust:</b> Rating manipulations in Google,
                        TripAdvisor & Yelp = lack of trust to services operated by.</p>
                    <div class="border_item_1px"></div>
                    <p><b>The need to switch between different apps:</b>
                        TripAdvisor, Yelp, Foursquare: to make a decision.</p>
                    <div class="border_item_1px"></div>
                    <p><b>Hard to apply filters to reviews</b> as reviews tagging
                        structure varies from one system to another.</p>
                    <div class="border_item_1px"></div>
                </div>
                <div class="item">
                    <h2>Local Business</h2>
                    <p class="gray_text">Looking for feedback and new clients</p>
                    <div class="border_item_2px"></div>
                    <p><b>No resources and competency</b> in advertising & marketing to work with enterprise
                        instruments (Google AdWords, Yelp, TripAdvisor).</p>
                    <div class="border_item_1px"></div>
                    <p><b>Too expensive</b> traditional offline advertising to cover the traffic
                        in a radius more than 50 meters from the location.</p>
                    <div class="border_item_1px"></div>
                    <p><b>Hard to manage</b> all the data in all claimed accounts in
                        different review platforms (Yelp, TripAdvisor, Google, other).</p>
                    <div class="border_item_1px"></div>
                </div>
                <div class="item">
                    <h2>Geo Applications</h2>
                    <p class="gray_text">Looking for open database of reviews</p>
                    <div class="border_item_2px"></div>
                    <p><b>High prices</b> for proprietary reviews (Yelp, TripAdvisor, Foursquare):
                        small and medium geo applications can not afford it.</p>
                    <div class="border_item_1px"></div>
                    <p><b>Hard to sell local ads</b> globally when your app is not #1 in the exact region.</p>
                    <div class="border_item_1px"></div>
                    <p><b>Small amount of own reviews</b> for small apps collecting reviews becomes a big problem. </p>
                    <div class="border_item_1px"></div>
                </div>
            </div>
        </div>
        <div class="border_screen"></div>
        <div class="ninth-screen">
            <h1>How it works</h1>
            <ul class="container_flex tabs">
                <li class="tab active"><a href="#">Participants</a></li>
                <li class="tab"><a href="#">Data flow</a></li>
                <li class="tab"><a href="#">Software</a></li>
                <li class="tab"><a href="#">Money flow</a></li>
                <li class="tab"><a href="#">Conversions</a></li>
            </ul>
            <div class="tabs_items">
                <div class="tab_item active" data-index="0">
                    <p>System participants is possible to divide into <b>3</b> main groups: <b>apps, community, sales partners</b>.</p>
                    <ul>
                        <li><b>Apps</b> represents groups of application that uses review data to display information about place.
                    Each app has its own <b>audience</b>, people that <b>businesses</b> are interested in.</li>
                        <li><b>Community</b> is a group of people that helps to maintain the data consistent, clean and
                            accurate. Community usually divided into <b>local chapters</b> that combine people either by
                        language or by territory or by other interests
                        </li>
                        <li><b>Sales & Businesses.</b> Sales partners and marketing companies connect <b>local businesses</b> to
                           the platform in order to do marketing activities. Businesses are not supposed to connect
                           individually in the begginning in order to keep API and reporting simple.
                        </li>
                    </ul>
                    <div class="tab_1_diagramm"></div>
                </div>
                <div class="tab_item" data-index="1">
                    <p>Each group operates with platform by providing and retrieving specific data.</p>
                    <ul>
                        <li><b>Apps</b> are responsible to collect and publish reviews from <b>audience</b> to the platform. Apps also
   create own ratings for places based on aggregated data for their users.</li>
                        <li>
                            <b>Community</b> operates with raw data using platform tools. It votes for the database schema and
   makes decision about moderation. Also it provides documentation.
                        </li>
                        <li>
                            <b>Sales & Businesses.</b> Businesses provide accurate data about the business and also replies to
                            original reviews in case it is needed. In the reverse direction they get analytics how <b>audience</b>
   (potential customers) deal with data.

                        </li>
                    </ul>
                    <div class="tab_2_diagramm"></div>
                </div>
                <div class="tab_item" data-index="2">
                    <p>As a platform OpenPlaceReviews should provide tools & programs, so system could operate flawlessly.</p>
                    <ul>
                        <li>
                            <b>Apps</b> need 2 types of software. Main database or API that will be able to download, keep
   reviews up to date and will have API to contribute reviews back. Second API is needed to
                            participate and sell local ads to its <b>audience</b> and provide analytics to <b>businesses</b>.
                        </li>
                        <li>
                            <b>Community</b> needs various tools to keep system running. It includes monitoring, moderation,
   voting and documentation systems. It should be a proper end-user system (web or mobile).
                        </li>
                        <li>
                            <b>Sales & Businesses.</b> Until self-managed platform is ready, partners will need only API to
   connect to their reporting systems. Also customer tracker system is needed to check what
   business is connected via what partner.
                        </li>
                    </ul>
                    <div class="tab_3_diagramm"></div>
                </div>
                <div class="tab_item" data-index="3">
                    <p>In order to sustain and grow system needs money circulation. OpenPlaceReviews is supposed to take only small % of the revenue.</p>
                    <ul>
                        <li>
                            <b>Apps</b> is mostly money consumers in the system. They take money for local ads published to
                            their <b>audience</b>. Initially apps could sponsor platform development to get access to reviews.
                        </li>
                        <li>
                            <b>Community</b> will get rewards as platform grows for keeping it clean & reasonable.
                        </li>
                        <li>
                            <b>Sales</b> operates as a proxy for local businesses who contributes. In case of self-managed
                            platform individual sales will get incentvies % of business subscription regularly (each month).
                        </li>
                        <li>
                            <b>Businesses</b> will have 2 products to buy. 1nd is a basic monthly subscription which will give
                            opportunity to do a basic promotion and give some control of published reviews and reputation about it.
                            2nd is ability to publish most effective local ads through all apps connected to OpenPlaceReviews.
                        </li>
                    </ul>
                    <div class="tab_4_diagramm"></div>
                </div>
                <div class="tab_item" data-index="4">
                    <p>Platform unites all participants and engages conversions between these groups.</p>
                    <ul>
                        <li>
                            Most active audience of <b>Apps</b> is interested in the quality of the product they use, so part of it
   will definitely participate in product development and transforms into <b>Community</b>.
                        </li>
                        <li>
                            Happy participants of <b>Community</b> (Ambassadors) will spread news about their participation
   and create a viral effect. Also some of the might be interested in incentives provided by
   platform and could become individual salesmen.
                        </li>
                        <li>
                            <b>Apps audience</b> naturally represents <b><i>potential business customers</i></b>. That’s why Business is
   interested to participate and support the platform.
                        </li>
                    </ul>
                    <div class="tab_5_diagramm"></div>
                </div>

            </div>
        </div>
        <div class="tenth-screen">
            <div class="container">
                <h1>How Open Communities Convert into Commercial Unicorns?</h1>
                <div class="community_commercial">
                    <div class="row1_cell_1_3">
                        <div class="container_flex">
                            <div class="osm_icon"></div>
                            <div>
                                <h2>OpenStreetMap</h2>
                                <div><b>5M community</b></div>
                                <div>60K Monthly Active Mappers</div>
                                <div>Build open maps around the world</div>
                            </div>
                        </div>
                    </div>
                    <div></div>
                    <div class="row1_cell_5">
                        <h2>Google Maps</h2>
                        <div><b>2000 paid mappers </b></div>
                        <div>2000 Monthly Active Mappers</div>
                        <div>Build most detailed system</div>
                    </div>

                    <div class="row2_cell_1"></div>
                    <div></div>
                    <div class="row2_cell_3"></div>
                    <div></div>
                    <div class="row2_cell_5">
                            <div></div>
                            <div></div>
                    </div>

                    <div class="row3_cell_1">
                        <div class="logo_mapbox"></div>
                        <div class="b2b">B2B</div>
                        <div><b>Google Maps API alternative</b></div>
                        <div>Map Costs: $0</div>
                        <div>Audience:  500M</div>
                        <div>Revenue: ~$100M</div>
                        <div>Team: 250</div>
                    </div>
                    <div></div>
                    <div class="row3_cell_3">
                        <div class="mapsme_logo"></div>
                        <div class="b2c">B2C</div>
                        <div><b>#1 Maps for Travelers</b></div>
                        <div>Map Costs: $0</div>
                        <div>Audience: 120M</div>
                        <div>Revenue: ~$5M</div>
                        <div>Team: 40</div>
                    </div>
                    <div></div>
                    <div class="row3_cell_5">
                        <div class="google_maps_logo"></div>
                        <div class="container_flex flex_nowrap">
                            <div class="b2c">B2C</div>
                            <div class="b2b">B2B</div>
                        </div>
                        <div><b>Google Maps</b></div>
                        <div>Map Costs: ~$2000M</div>
                        <div>Audience: 1000M</div>
                        <div>Team: 2000</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="eleventh-screen">
            <h1>Contact Us</h1>
            <div class="email_address"><a href="mailto:hello@openplacereviews.org">hello@openplacereviews.org</a></div>
            <div><a class="button" href="mailto:hello@openplacereviews.org">Send request</a></div>
        </div>
        {% comment %}
        <expand-missing-block></expand-missing-block>
        <div class="eighth-screen" id="join_us">
            <div class="flex_conteiner">
                <div class="cover_full"></div>
                <div class="join_us_form">
                    <h1>Ready to join us?</h1>
                    <p>Enter your email adress to be the first to know when we launch public.</p>
                    <subscribe-form csrf_token='{% csrf_token %}' action_url="{% url 'subscribe' %}"></subscribe-form>
                </div>
            </div>
        </div>
        {% endcomment %}
        {% include 'landing/footer.html' %}

    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const tabLinks = document.querySelectorAll(".tab a");
            const tabPanels = document.querySelectorAll(".tab_item");
            for (let el of tabLinks) {
                el.addEventListener("click", function (event) {
                    event.preventDefault();
                    document.querySelector('.tabs li.active').classList.remove("active");
                    document.querySelector('.tab_item.active').classList.remove("active");

                    const parentListItem = el.parentElement;
                    parentListItem.classList.add("active");
                    const index = [...parentListItem.parentElement.children].indexOf(parentListItem);

                    const panel = [...tabPanels].filter(el => el.getAttribute("data-index") == index);
                    panel[0].classList.add("active");
                });
            }
        })
    </script>
    {% include '_scripts.html' %}
</body>
</html>