{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=600">
    <title>{% block title %}Open Place Reviews{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="180x180" href="{% static 'dist/images/icons/favicon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="180x180" href="{% static 'dist/images/icons/favicon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'dist/images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dist/images/icons/favicon-16x16.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dist/css/app.min.css' %}">
    {% block extra_styles %}{% endblock %}
</head>
<body>
    <div class="landing-container" id="opr-app">
        <div class="first-screen">
            <div class="first-screen-container">
                <div class="header">
                    <div class="logo">
                        <a href="{% url 'frontpage' %}">
                            <img src="{% static 'dist/images/landing/logo_landing.png' %}" alt="OpenPlaceReviews.org logo"/>
                        </a>
                    </div>
                    <ul class="menu-landing">
                        <li><a href="#mission">Mission</a></li>
                        <li><a href="#join_us" class="button">Join Us</a></li>
                    </ul>
                </div>
                <h1>
                    <p>A new way for reviews</p>
                    Open. Collaborative. Decentralized.
                </h1>
            </div>
        </div>

        <div class="second-screen">
            <div>
                <h1>Openness</h1>
                <p>
                    We believe that information provided by users should not be collected in
                    any hidden way with a privacy respect and should be available for everyone
                    for any possible usage.
                </p>
                <p>
                    We are inspired by truly open crowdsource projects like
                    <a href="https://www.openstreetmap.org" target="_blank">OpenStreetMap</a> and <a href="https://www.wikipedia.org/" target="_blank">Wikipedia</a> and we want to make a similar platform for User Generated Content.</p>
                <p>As a first step we want to build a platform to store user reviews for restaraunts, hotels, attractions, museums and other local places.</p>
            </div>
            <div class="openness_imgs">
                <div class="openness_github">
                    <img src="{% static 'dist/images/landing/openness_github.png' %}">
                    <a href="https://github.com/OpenPlaceReviews/" target="_blank">GitHub</a>
                </div>
                <div class="openness_open_db">
                    <img src="{% static 'dist/images/landing/openness_opendb.png' %}">
                    <a href="{% url 'data_page' %}">Open Database</a>
                </div>
            </div>
        </div>
        <div class="border-screen2">&nbsp;</div>
        <div class="third-screen">
            <h1>Community driven</h1>
            <p>Build a community to make key decisions about data<br>structure and moderation together.</p>
            <a href="https://forum.openplacereviews.org/" target="_blank">Join discussions</a>
            <div class="flex_conteiner">
                <div class="left_clmn">
                    <h2>Register & Update places</h2>
                    <p>Register new places, update information about them and link to other web sources about these places</p>
{#                    <a href="{% url 'data_page' %}">Moderate places</a>#}
                    <h2>Define Tagging  & Metadata</h2>
                    <p>Vote and make decisions about tagging principles of places and reviews</p>
                </div>
                <div class="right_clmn">
                    <h2>Sync with Public Sources</h2>
                    <p>Connect places to public source of information including OpenStreetMap, Wikipedia, blogs, websites and let crowlers keep information up to date</p>
                    <h2>Detect fraud, spam and vandalism</h2>
                    <p>Develop and decide on tools to detect non-desirable reviews</p>
                </div>
            </div>
            <ul>
                <li><a href="{% url 'account_signup' %}">Early Signup Registration</a></li>
                <li><a href="{% url 'data_page' %}">View Places</a></li>
            </ul>
        </div>
        <div class="fourth-screen">
            <div class="border_screen4">&nbsp;</div>
            <div class="decentralization">
                <h1>Decentralization</h1>
                <div class="flex_conteiner">
                    <div>Develop a decentralized system from the day 1 to avoid scalability issues in the future.</div>
                    <div>
                        <a href="{% url 'data_page' %}">Blockchain and data explorer</a><br>
                        <a href="https://forum.openplacereviews.org/">Project kickoff article (forum)</a><br>
                        <a href="https://github.com/OpenPlaceReviews/">GitHub repo</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="fifth-screen">
            <div class="trust">
                <h1>Trust</h1>
                <div class="flex_conteiner">
                    <div>
                        <p>Keep all the data open to prevent any data manipulation. Data is stored in a blockchain form, so it is transparent for any changes.</p>
                        <p><a href="{% url 'data_page' %}">Blockchain explorer</a></p>
                    </div>
                    <div>
                        <p>With appropriate data tagging let applications and users decide how to display the data to avoid monopoly on decisions</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sixth-screen">
            <div class="monetization">
                <img src="{% static 'dist/images/landing/monetization.png' %}">
                <div>
                    <h1>Future Monetization</h1>
                    <p>Make business subscriptions once the project is matured and spread the income between applications, authors, moderators and network operators.</p>
                </div>
            </div>
        </div>
        <div class="seventh-screen">
            <div class="founders">
                <h1>Founders</h1>
                <div class="flex_conteiner">
                    <div class="founder_block">
                        <img src="{% static 'dist/images/landing/victor_shcherb.png' %}">
                        <div>
                            <div class="fuunder_name">Victor Shcherb</div>
                            <div>CEO & Founder OsmAnd</div>
                            <div><a href="https://osmand.net/">OsmAnd.net</a></div>
                        </div>
                    </div><!--
                    --><div class="founder_block">
                        <img src="{% static 'dist/images/landing/evgene_lisovsky.png' %}">
                        <div>
                            <div class="fuunder_name">Eugene Lisovsky</div>
                            <div>CEO Maps.me</div>
                            <div><a href="https://maps.me/">Maps.me</a></div>
                        </div>
                    </div>
                </div>
            </div>
{#            <div class="community_leaders">#}
{#                <h1>Community Leaders</h1>#}
{#                <p>Here will be the list of project representatives who will have administration rights</p>#}
{#                <ul class="leaders">#}
{#                    <li class="leader">#}
{#                        <img src="{% static 'dist/images/landing/leader_1.png' %}">#}
{#                        <div class="leader_name">Harishan Kobalasingam</div>#}
{#                        <div>Team Lead</div>#}
{#                    </li>#}
{#                    <li class="leader">#}
{#                        <img src="{% static 'dist/images/landing/leader_2.png' %}">#}
{#                        <div class="leader_name">Rylie Bridges</div>#}
{#                        <div>Sale</div>#}
{#                    </li>#}
{#                    <li class="leader">#}
{#                        <img src="{% static 'dist/images/landing/leader_1.png' %}">#}
{#                        <div class="leader_name">Javier Bonilla</div>#}
{#                        <div>Marketing</div>#}
{#                    </li>#}
{#                    <li class="leader">#}
{#                        <img src="{% static 'dist/images/landing/leader_1.png' %}">#}
{#                        <div class="leader_name">Marco Lewis</div>#}
{#                        <div>Team Lead</div>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
        </div>

        <expand-missing-block></expand-missing-block>
        <div class="eighth-screen" id="join_us">
            <div class="flex_conteiner">
                <div class="cover_full"></div>
                <div class="join_us_form">
                    <h1>Ready to join us?</h1>
                    <p>Enter your email adress to be the first to know when we launch public.</p>
                    <subscribe-form csrf_token='{% csrf_token %}' action_url="{% url 'subscribe' %}"></subscribe-form>
                </div>
            </div>
        </div>
        <footer>
            <div>© 2019 OpenPlaceReviews.org</div>
        </footer>

    </div>
    {% include '_scripts.html' %}
</body>
</html>