.container_flex {
    display: flex;
    flex-wrap: wrap;
}
.flex_nowrap {
    flex-wrap: nowrap;
}
.flex-v-align-center {
    align-items: center;
}
.gray_text {
    color: #6A7181;
}
.landing-container {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #263A30;
}
.landing-container .first-screen {
    background-size: 100% 100%;
}
.landing-container .first-screen h1 {
    text-align: left;
    max-width: 633px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    margin-top: 90px;
}
.landing-container .first-screen h1 p {
    text-align: left;
    max-width: 633px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.01em;
    color: #6A7181;
    margin: 0;
}
.landing-container .first-screen .first-screen-bg {
    display: grid;
    grid-template-columns: 10vw auto 150px 20vw;
    grid-template-rows: 100% 87px;
}
.landing-container .first-screen .first-screen-bg .left-line {
    background: url(../../images/vertical_line_header.png) top right repeat-y;
}
.landing-container .first-screen .first-screen-bg .header-body {
    grid-column: 2 / span 3;
}
.landing-container .first-screen .first-screen-bg .bottom-left {
    background: url(../../images/left_bottom_header.png) top right no-repeat;
    background-size: contain;
}
.landing-container .first-screen .first-screen-bg .bottom-center {
    background: url("../../images/landing/center_bottom_header.png") no-repeat;
    background-size: 100% 100%;
}
.landing-container .first-screen .first-screen-bg .bottom-line {
    background: url("../../images/landing/bottom_line_header.png") repeat-x;
    background-size: 100% 100%;
}
@media (max-width: 950px) {
    .landing-container .first-screen .first-screen-bg {
        grid-template-columns: 7vw auto 75px 10vw;
        grid-template-rows: 100% 87px;
    }
    .landing-container .first-screen .first-screen-bg .left-line {
        background-size: 25% 50%;
    }
    .landing-container .first-screen .first-screen-bg .bottom-left {
        background-size: 25% 50%;
    }
    .landing-container .first-screen .first-screen-bg .bottom-center, .landing-container .first-screen .first-screen-bg .bottom-line {
        background-size: 100% 50%;
    }
}
@media (min-width: 1300px) {
    .landing-container .first-screen {
        width: 100%;
        margin: 0 0 87px 0;
    }
}
.landing-container .first-screen .first-screen-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10vw 0 0;
}
@media (max-width: 950px) {
    .landing-container .first-screen .first-screen-container {
        padding: 0 10vw 0 3vw;
    }
}
@keyframes EmojiFadeInOut {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.landing-container .first-screen .first-screen-container .header-emoji {
    width: 200px;
    margin: auto;
    font-size: 165px;
    line-height: 165px;
}
.landing-container .first-screen .first-screen-container .header-emoji span {
    position: absolute;
    animation-name: EmojiFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}
.landing-container .first-screen .first-screen-container .header-emoji span:nth-of-type(1) {
    opacity: 0;
    animation-delay: 0s;
}
.landing-container .first-screen .first-screen-container .header-emoji span:nth-of-type(2) {
    opacity: 0;
    animation-delay: 5s;
}
.landing-container .first-screen .first-screen-container .header-emoji span:nth-of-type(3) {
    opacity: 0;
    animation-delay: 10s;
}
.landing-container .first-screen .first-screen-container .header-emoji span:nth-of-type(4) {
    opacity: 0;
    animation-delay: 15s;
}
.landing-container .first-screen .header {
    display: flex;
    padding-top: 70px;
    width: 100%;
    margin: 0 auto;
}
.landing-container .first-screen .header .logo {
    line-height: 18px;
}
.landing-container .first-screen .header .logo img {
    width: 185px;
    height: 50px;
}
.landing-container .first-screen .header .menu-landing {
    margin: 0;
    padding: 0;
    margin-left: auto;
}
.landing-container .first-screen .header .menu-landing li {
    font-size: 18px;
    line-height: 50px;
    font-weight: 500;
    display: inline-block;
    margin-left: 40px;
}
.landing-container h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color: #000000;
}
.landing-container h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 140%;
}
.landing-container a {
    color: #0A38C2;
}
.landing-container .second-screen {
    text-align: center;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.01em;
    margin: 0 auto;
    margin-bottom: 75px;
    margin-top: 87px;
    display: flex;
    max-width: 1100px;
    text-align: left;
    padding: 0 10vw;
}
@media (max-width: 1180px) {
    .landing-container .second-screen {
        display: block;
    }
}
.landing-container .second-screen h1 {
    text-align: left;
}
.landing-container .second-screen .openness_imgs {
    text-align: center;
    background: #F4F6F6;
    border-radius: 40px;
    padding: 24px;
    margin-top: 50px;
    position: relative;
    left: 40px;
}
.landing-container .second-screen .openness_imgs div:first-child {
    margin-top: 0;
}
.landing-container .second-screen .openness_imgs div {
    margin-top: 20px;
}
.landing-container .second-screen .openness_imgs img {
    width: 222px;
    height: 162px;
    display: block;
}
@media (max-width: 1180px) {
    .landing-container .second-screen .openness_imgs {
        display: flex;
        left: 0;
        flex-wrap: wrap;
    }
    .landing-container .second-screen .openness_imgs div {
        margin-top: 0;
        margin: 0 auto;
    }
}
.landing-container .border-screen2 {
    width: 100%;
    height: 20px;
    background: url("../../images/landing/border_screen2.png") repeat-x;
}
.landing-container .third-screen {
    text-align: center;
    margin-top: 95px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.01em;
    border-bottom: 2px solid #E3E5E8;
    padding: 0 10vw;
}
.landing-container .third-screen .flex_conteiner {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    text-align: left;
    margin-top: 20px;
    flex-wrap: wrap;
}
.landing-container .third-screen .flex_conteiner div {
    width: 470px;
}
@media (max-width: 950px) {
    .landing-container .third-screen .flex_conteiner div {
        width: 100%;
    }
}
.landing-container .third-screen .flex_conteiner div p {
    margin: 15px 0;
}
.landing-container .third-screen .flex_conteiner div h2 {
    margin: 15px 0;
}
.landing-container .third-screen .flex_conteiner div:first-child {
    margin-right: auto;
}
@media (max-width: 1100px) {
    .landing-container .third-screen .flex_conteiner div {
        margin-right: 0px;
        width: 100%;
    }
    .landing-container .third-screen .flex_conteiner div {
        margin-left: 0px;
        width: 100%;
    }
}
.landing-container .third-screen ul {
    text-align: center;
    padding: 0;
    margin-top: 65px;
    margin-bottom: 50px;
}
@media (max-width: 1100px) {
    .landing-container .third-screen ul {
        margin-top: 0px;
        margin-bottom: 40px;
        text-align: center;
    }
}
.landing-container .third-screen ul li:first-child {
    list-style: none;
    margin-right: 20px;
}
.landing-container .fourth-screen .border_screen4 {
    margin-top: 100px;
    background: url("../../images/landing/border_screen4.png") repeat-x;
    background-size: 108px 76px;
    height: 76px;
    width: 100%;
}
.landing-container .fourth-screen .decentralization {
    max-width: 1100px;
    margin: 0 auto;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.01em;
    margin-bottom: 125px;
    padding: 0 10vw;
}
.landing-container .fourth-screen .decentralization h1 {
    text-align: left;
    margin-top: 125px;
}
.landing-container .fourth-screen .decentralization .flex_conteiner {
    display: flex;
}
@media (max-width: 900px) {
    .landing-container .fourth-screen .decentralization .flex_conteiner {
        flex-wrap: wrap;
    }
}
.landing-container .fourth-screen .decentralization .flex_conteiner div:first-child {
    max-width: 470px;
    margin-right: 90px;
}
@media (max-width: 1100px) {
    .landing-container .fourth-screen .decentralization .flex_conteiner div:first-child {
        margin-right: 40px;
    }
}
@media (max-width: 900px) {
    .landing-container .fourth-screen .decentralization .flex_conteiner div:first-child {
        margin-bottom: 20px;
    }
}
.landing-container .fourth-screen .decentralization .flex_conteiner div:last-child {
    border-left: 4px solid #FFC93A;
    padding-left: 25px;
    white-space: nowrap;
}
.landing-container .fifth-screen {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.01em;
    background: #F4F6F6;
}
.landing-container .fifth-screen .trust {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10vw;
    padding-bottom: 65px;
}
.landing-container .fifth-screen .trust h1 {
    text-align: left;
    padding-top: 65px;
    margin-bottom: 20px;
}
.landing-container .fifth-screen .trust .flex_conteiner {
    display: flex;
}
.landing-container .fifth-screen .trust .flex_conteiner div {
    width: 500px;
}
.landing-container .fifth-screen .trust .flex_conteiner div p {
    margin: 0 0 20px 100px;
}
.landing-container .fifth-screen .trust .flex_conteiner div:before {
    content: url("../../images/landing/trust_img.png");
    position: relative;
    float: left;
    left: -10px;
}
.landing-container .fifth-screen .trust .flex_conteiner div:first-child {
    margin-right: 50px;
}
.landing-container .fifth-screen .trust .flex_conteiner div:last-child {
    margin-left: 50px;
}
@media (max-width: 1100px) {
    .landing-container .fifth-screen .trust .flex_conteiner {
        display: block;
    }
    .landing-container .fifth-screen .trust .flex_conteiner div {
        margin: 0 0 40px 0;
        width: 100%;
    }
    .landing-container .fifth-screen .trust .flex_conteiner div:first-child, .landing-container .fifth-screen .trust .flex_conteiner div:last-child {
        margin-left: 0px;
    }
}
.landing-container .sixth-screen {
    border-bottom: 5px solid #ECF7F1;
}
.landing-container .sixth-screen .monetization {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10vw;
    padding-top: 135px;
    padding-bottom: 175px;
}
.landing-container .sixth-screen .monetization h1 {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 15px;
}
.landing-container .sixth-screen .monetization img {
    width: 300px;
    height: 217px;
    margin-right: 90px;
    left: -20px;
    position: relative;
}
.landing-container .sixth-screen .monetization p {
    margin-top: 15px;
}
@media (max-width: 1100px) {
    .landing-container .sixth-screen .monetization {
        display: block;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 10vw;
        padding-top: 85px;
        padding-bottom: 75px;
    }
    .landing-container .sixth-screen .monetization img {
        width: 191px;
        height: 138px;
        margin-right: 20px;
        left: -10px;
        float: left;
    }
    .landing-container .sixth-screen .monetization h1 {
        width: 0px;
    }
    .landing-container .sixth-screen .monetization p {
        margin-top: 25px;
    }
}
@media (max-width: 800px) {
    .landing-container .sixth-screen .monetization {
        text-align: center;
    }
    .landing-container .sixth-screen .monetization img {
        float: none;
        left: 10px;
    }
    .landing-container .sixth-screen .monetization h1 {
        text-align: center;
        width: 100%;
    }
}
.landing-container .seventh-screen .founders {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10vw;
    padding-bottom: 95px;
}
.landing-container .seventh-screen .founders h1 {
    text-align: left;
    margin-top: 80px;
    margin-bottom: 40px;
}
.landing-container .seventh-screen .founders .flex_conteiner {
    display: flex;
}
@media (max-width: 900px) {
    .landing-container .seventh-screen .founders .flex_conteiner {
        flex-wrap: wrap;
    }
}
.landing-container .seventh-screen .founders .founder_block {
    width: 540px;
    margin-right: 40px;
    display: flex;
}
@media (max-width: 900px) {
    .landing-container .seventh-screen .founders .founder_block {
        margin-bottom: 20px;
    }
}
.landing-container .seventh-screen .founders .founder_block:last-child {
    margin-right: 0;
}
.landing-container .seventh-screen .founders .founder_block img {
    width: 120px;
    height: 120px;
    float: left;
    margin-right: 20px;
}
.landing-container .seventh-screen .founders .founder_block .fuunder_name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 140%;
    color: #1A04AE;
    margin-bottom: 10px;
}
.landing-container .seventh-screen .community_leaders {
    width: 1100px;
    margin: 0 auto;
}
.landing-container .seventh-screen .community_leaders h1 {
    text-align: left;
}
.landing-container .seventh-screen .community_leaders .leaders {
    padding: 0;
    display: flex;
    margin-bottom: 90px;
}
.landing-container .seventh-screen .community_leaders .leaders .leader {
    width: 245px;
    margin-right: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.01em;
    list-style: none;
}
.landing-container .seventh-screen .community_leaders .leaders .leader img {
    width: 125px;
    height: 125px;
}
.landing-container .seventh-screen .community_leaders .leaders .leader .leader_name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #140579;
}
.landing-container .eighth-screen {
    background: #7BD294;
    color: #ffffff;
    padding-top: 50px;
}
@media (max-width: 1100px) {
    .landing-container .eighth-screen {
        padding-right: 10vw;
        padding-left: 10vw;
        padding-bottom: 20px;
    }
}
.landing-container .eighth-screen .flex_conteiner {
    display: flex;
    width: 1100px;
}
@media (max-width: 1100px) {
    .landing-container .eighth-screen .flex_conteiner {
        display: block;
        width: 100%;
    }
}
@media (min-width: 1600px) {
    .landing-container .eighth-screen .flex_conteiner {
        width: 1351px;
        margin: 0 auto;
        position: relative;
        left: -211px;
    }
}
.landing-container .eighth-screen .cover_full {
    background: url('../../images/landing/cover_full.png') right no-repeat;
    width: 841px;
    height: 439px;
    background-size: cover;
}
@media (max-width: 1100px) {
    .landing-container .eighth-screen .cover_full {
        float: left;
        width: 300px;
        height: 160px;
    }
}
.landing-container .eighth-screen h1 {
    text-align: left;
    margin-top: 20px;
    color: #ffffff;
}
@media (max-width: 950px) {
    .landing-container .eighth-screen h1 {
        line-height: 56px;
    }
}
.landing-container .eighth-screen .join_us_form {
    width: 540px;
}
@media (max-width: 1100px) {
    .landing-container .eighth-screen .join_us_form {
        width: 100%;
    }
}
.landing-container .eighth-screen .join_us_form input {
    width: 540px;
    font-size: 20px;
    line-height: 30px;
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.26);
    box-sizing: border-box;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    height: 60px;
    padding-left: 20px;
}
@media (max-width: 950px) {
    .landing-container .eighth-screen .join_us_form input {
        width: 100%;
    }
}
.landing-container .eighth-screen .join_us_form button {
    margin-top: 20px;
    width: 190px;
    height: 60px;
    background: #0A38C2;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    border: none;
}
.landing-container .eighth-screen .join_us_form button:hover {
    background: #140579;
}
.landing-container .mission_container {
    background: #F4F6F6;
    height: 100%;
    padding: 0 10vw;
}
.landing-container .mission_container .mission_block {
    max-width: 820px;
    text-align: left;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 80px;
}
.landing-container .mission_container .mission_block .missing_hidden p:first-child {
    margin-top: 0;
}
.landing-container .mission_container .mission_block .collapsed_btn {
    height: 34px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #0A38C2;
    background: #CCD0D9;
    border-radius: 60px;
    margin: 0 auto;
    width: 150px;
    padding: 10px;
    cursor: pointer;
}
.landing-container footer {
    background: #F0F0F0;
    text-align: left;
    color: #4C4C4C;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.02em;
    padding: 40px 10vw 50px 10vw;
}
.landing-container footer .footer-container {
    flex-direction: row;
    align-items: stretch;
    max-width: 1100px;
    margin: 0 auto;
}
.landing-container footer .footer-container .copyright img {
    width: 193px;
    height: 47px;
}
.landing-container footer .footer-container .copyright div {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #A3ABC2;
    margin-top: 5px;
}
.landing-container footer .footer-container h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    color: #A3ABC2;
    margin-top: 0;
    margin-bottom: 7px;
}
.landing-container footer .footer-container ul {
    margin: 0;
    padding: 0;
}
.landing-container footer .footer-container ul li {
    list-style: none;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin-top: 7px;
}
.landing-container footer .footer-container ul li a.gray, .landing-container footer .footer-container ul li a.gray:hover {
    color: #6A7181;
}
.landing-container footer .footer-container .contact, .landing-container footer .footer-container .about {
    margin: 20px auto 0 0;
    flex: 1;
    padding-right: 20px;
    min-width: 240px;
}
.landing-container footer .footer-container .copyright {
    margin: 20px auto 0 0;
    flex: 1;
    padding-right: 20px;
    min-width: 240px;
}
.landing-container footer .footer-container .community {
    margin: 20px 0 0 auto;
    flex: 1;
    padding-right: 20px;
    min-width: 240px;
}
@media (max-width: 1100px) {
    .landing-container footer .footer-container .copyright {
        order: 4;
    }
}
.for_investors h1 {
    text-align: left;
}
.for_investors h2 {
    font-weight: 600;
    font-size: 25px;
}
.for_investors .first-screen {
    background-size: 100% 100%;
}
.for_investors .first-screen .first-screen-bg {
    display: grid;
    grid-template-columns: 10vw 150px auto 10vw;
    grid-template-rows: 100% 87px;
}
.for_investors .first-screen .first-screen-bg .right-line {
    background: url(../../images/landing/vertical_right_line_header.png) top left repeat-y;
}
.for_investors .first-screen .first-screen-bg .header-body {
    grid-column: 2 / span 2;
}
.for_investors .first-screen .first-screen-bg .bottom-right {
    background: url(../../images/landing/right_bottom_header.png) top left no-repeat;
    background-size: contain;
}
.for_investors .first-screen .first-screen-bg .bottom-center {
    background: url("../../images/landing/center_bottom_header.png") no-repeat;
    background-size: 100% 100%;
}
.for_investors .first-screen .first-screen-bg .bottom-line {
    background: url("../../images/landing/bottom_line_header.png") repeat-x;
    background-size: 100% 100%;
}
@media (max-width: 950px) {
    .for_investors .first-screen .first-screen-bg {
        grid-template-columns: 7vw auto 75px 10vw;
        grid-template-rows: 100% 87px;
    }
    .for_investors .first-screen .first-screen-bg .right-line {
        background-size: 25% 50%;
    }
    .for_investors .first-screen .first-screen-bg .bottom-right {
        background-size: 25% 50%;
    }
    .for_investors .first-screen .first-screen-bg .bottom-center, .for_investors .first-screen .first-screen-bg .bottom-line {
        background-size: 100% 50%;
    }
}
@media (min-width: 1300px) {
    .for_investors .first-screen {
        width: 100%;
        margin: 0 0 87px 0;
    }
}
.for_investors .first-screen .first-screen-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
@media (max-width: 950px) {
    .for_investors .first-screen .first-screen-container {
        padding: 0 10vw 0 3vw;
    }
}
.for_investors .second-screen {
    display: block;
    margin-top: 185px;
}
.for_investors .second-screen .user_need_item {
    max-width: 515px;
    min-width: 240px;
}
.for_investors .second-screen .user_need_item:nth-child(odd) {
    margin: 20px 70px 20px 0;
}
.for_investors .second-screen .user_need_item:nth-child(even) {
    margin: 20px 0;
}
.for_investors .second-screen .user_need_item .user_need_border {
    background: url(../../images/landing/user_need_border.png) no-repeat;
    width: 100%;
    height: 15px;
    margin-top: 20px;
}
.for_investors .border_screen {
    border: 2px solid #EAEEF5;
    width: 100%;
}
.for_investors .third-screen h1 {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}
.for_investors .third-screen .screen_description {
    max-width: 1050px;
    margin: 0 auto;
}
.for_investors .third-screen .screen_3_maps {
    background: url(../../images/landing/screen_3_maps.png) no-repeat;
    height: 654px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 155px;
    background-size: contain;
}
.for_investors .fourth-screen {
    text-align: left;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 95px;
    margin-bottom: 90px;
}
.for_investors .fourth-screen h1 {
    text-align: left;
}
.for_investors .fourth-screen .thead {
    width: 1100px;
    margin: 0 auto;
}
.for_investors .fourth-screen .thead div {
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    border-bottom: 4px solid #FFC93A;
    padding: 15px 0;
}
.for_investors .fourth-screen .thead div:nth-child(1) {
    color: #6A7181;
    width: 470px;
    margin-right: 20px;
}
.for_investors .fourth-screen .thead div:nth-child(2) {
    width: 190px;
    margin-right: 20px;
}
.for_investors .fourth-screen .thead div:nth-child(3) {
    width: 190px;
    margin-right: 20px;
}
.for_investors .fourth-screen .thead div:nth-child(4) {
    width: 190px;
}
.for_investors .fourth-screen .trow {
    width: 1100px;
    margin: 0 auto;
}
.for_investors .fourth-screen .trow div {
    font-size: 20px;
    display: inline-block;
    border-bottom: 2px solid #E2E4E9;
    padding: 15px 0;
}
.for_investors .fourth-screen .trow div:nth-child(1) {
    font-weight: 600;
    width: 470px;
    margin-right: 20px;
}
.for_investors .fourth-screen .trow div:nth-child(2) {
    width: 190px;
    margin-right: 20px;
}
.for_investors .fourth-screen .trow div:nth-child(3) {
    width: 190px;
    margin-right: 20px;
}
.for_investors .fourth-screen .trow div:nth-child(4) {
    width: 190px;
}
.for_investors .fourth-screen .trow div .gray_target {
    color: #6A7181;
    font-weight: normal;
    font-style: italic;
}
.for_investors .fourth-screen .trow div .up_arr {
    border: 1px solid #FFC93A;
    border-radius: 40px;
    padding: 5px 10px;
    background: linear-gradient(180deg, #FFC93A, #FFFFFF);
}
.for_investors .fourth-screen .trow div .up_arr:before {
    background: url(../../images/landing/arrow_opr_apps_number.png);
    content: "";
    height: 33px;
    width: 24px;
    position: absolute;
    margin-top: -34px;
    background-size: cover;
    text-align: center;
    margin-left: 7px;
    transform: rotate(180deg);
}
.for_investors .fourth-screen .trow div .down_arr {
    border: 1px solid #FFC93A;
    border-radius: 40px;
    padding: 5px 10px;
    background: linear-gradient(0deg, #FFC93A, #FFFFFF);
}
.for_investors .fourth-screen .trow div .down_arr_2:before {
    background: url(../../images/landing/arrow_opr_apps_number.png);
    content: "";
    height: 33px;
    width: 24px;
    position: absolute;
    margin-top: 36px;
    background-size: cover;
    text-align: center;
    margin-left: 7px;
}
.for_investors .fourth-screen .trow div .down_arr_3:before {
    background: url(../../images/landing/arrow_opr_apps_number.png);
    content: "";
    height: 33px;
    width: 24px;
    position: absolute;
    margin-top: 36px;
    background-size: cover;
    text-align: center;
    margin-left: 13px;
}
.for_investors .fourth-screen .trow div .white_item {
    border: 1px solid #FFC93A;
    border-radius: 40px;
    padding: 5px 10px;
}
.for_investors .fourth-screen .opr_apps div {
    height: 74px;
    vertical-align: top;
}
.for_investors .fourth-screen .yelp {
    border-bottom: 2px solid #FFC93A;
}
.for_investors .fourth-screen .yelp div {
    border: none;
}
.for_investors .fifth-screen {
    border-top: 2px solid #EAEEF5;
    background: #F6FAFD;
    width: 100%;
}
.for_investors .fifth-screen .container {
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 65px;
}
.for_investors .fifth-screen .container .screen_5_graphic {
    background: url(../../images/landing/screen_5_graphic.png);
    width: 887px;
    height: 464px;
    background-size: cover;
}
.for_investors .fifth-screen .container .legend {
    margin-left: 80px;
}
.for_investors .fifth-screen .container .legend .google:before {
    background: #ABCB5E;
    width: 40px;
    height: 20px;
    content: '';
    border-radius: 20px;
    position: absolute;
    margin-left: -50px;
    margin-top: 8px;
}
.for_investors .fifth-screen .container .legend .facebook:before {
    background: #557CBC;
    width: 40px;
    height: 20px;
    content: '';
    border-radius: 20px;
    position: absolute;
    margin-left: -50px;
    margin-top: 8px;
}
.for_investors .fifth-screen .container .legend .yelp:before {
    background: #D46460;
    width: 40px;
    height: 20px;
    content: '';
    border-radius: 20px;
    position: absolute;
    margin-left: -50px;
    margin-top: 8px;
}
.for_investors .fifth-screen .container .legend .tripadvisor:before {
    background: #E0A983;
    width: 40px;
    height: 20px;
    content: '';
    border-radius: 20px;
    position: absolute;
    margin-left: -50px;
    margin-top: 8px;
}
.for_investors .fifth-screen .container .legend .foursquare:before {
    background: #C25991;
    width: 40px;
    height: 20px;
    content: '';
    border-radius: 20px;
    position: absolute;
    margin-left: -50px;
    margin-top: 8px;
}
.for_investors .fifth-screen .container .graphic_x {
    width: 887px;
    font-weight: 600;
    font-size: 17px;
    line-height: 27px;
    border-top: 5px solid #6F99B8;
    margin-top: 16px;
}
.for_investors .fifth-screen .container .graphic_x div {
    margin: 0 auto;
}
.for_investors .fifth-screen .container .graphic_x div:first-child {
    margin: 0 auto 0 0;
}
.for_investors .fifth-screen .container .graphic_x div:last-child {
    margin: 0 0 0 auto;
}
.for_investors .sixth-screen {
    max-width: 1100px;
    margin: 0 auto;
    border: none;
    margin-bottom: 60px;
}
.for_investors .sixth-screen .screen_6_graphic_1 {
    background: url('../../images/landing/screen_6_graphic_1.png') right no-repeat;
    background-size: cover;
    width: 1050px;
    height: 432px;
}
.for_investors .sixth-screen .screen_6_graphic_2 {
    background: url('../../images/landing/screen_6_graphic_2.png') right no-repeat;
    background-size: cover;
    width: 1050px;
    height: 484px;
}
.for_investors .seventh-screen h2 {
    margin: 28px 0 0 0;
}
.for_investors .seventh-screen ul {
    margin: 0 25px;
    padding: 0;
}
.for_investors .seventh-screen .founder_block {
    max-width: 540px;
}
.for_investors .seventh-screen .founder_block:first-child {
    margin-right: 20px;
}
.for_investors .seventh-screen .founders .founder_block img {
    margin-right: 0;
    width: 190px;
    height: 190px;
}
.for_investors .seventh-screen .victor {
    padding: 10px 40px 10px 40px;
    background: rgba(255, 201, 58, 0.3);
    width: 270px;
}
.for_investors .seventh-screen .eugene {
    padding: 10px 40px 10px 40px;
    background: rgba(196, 200, 211, 0.3);
    width: 270px;
}
.for_investors .seventh-screen .position {
    margin: 25px 40px 0 40px;
    font-weight: 600;
}
.for_investors .seventh-screen .link {
    margin: 0 0 0 40px;
}
.for_investors .seventh-screen .contact {
    display: inline-block;
    background: rgba(10, 56, 194, 0.2);
    color: #0A38C2;
    border-radius: 5px;
    padding: 6px 15px;
    margin-right: 20px;
    margin-top: 10px;
}
.for_investors .eighth-screen {
    max-width: 1100px;
    margin: 0 auto;
    background: none;
    color: #263A30;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 95px;
}
.for_investors .eighth-screen h1 {
    color: #000000;
    margin-bottom: 0px;
}
.for_investors .eighth-screen div.item:nth-child(1) {
    max-width: 330px;
    margin-right: auto;
}
.for_investors .eighth-screen div.item:nth-child(1) .border_item_2px {
    border: 2px solid #FFC93A;
}
.for_investors .eighth-screen div.item:nth-child(1) .border_item_1px {
    border: 1px solid #FFC93A;
}
.for_investors .eighth-screen div.item:nth-child(2) {
    max-width: 330px;
    margin-right: auto;
}
.for_investors .eighth-screen div.item:nth-child(2) .border_item_2px {
    border: 2px solid #8AC826;
}
.for_investors .eighth-screen div.item:nth-child(2) .border_item_1px {
    border: 1px solid #8AC826;
}
.for_investors .eighth-screen div.item:nth-child(3) {
    max-width: 330px;
}
.for_investors .eighth-screen div.item:nth-child(3) .border_item_2px {
    border: 2px solid #2D69E0;
}
.for_investors .eighth-screen div.item:nth-child(3) .border_item_1px {
    border: 1px solid #2D69E0;
}
.for_investors .ninth-screen {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 110px;
}
.for_investors .ninth-screen ul {
    padding-left: 25px;
}
.for_investors .ninth-screen .tabs {
    margin: 0;
    padding: 0;
}
.for_investors .ninth-screen .tab {
    list-style: none;
    border: 2px solid #CCD0D9;
    border-left: none;
    padding: 5px 0px;
}
.for_investors .ninth-screen .tab a, .for_investors .ninth-screen .tab a:hover {
    padding: 5px 30px;
    color: #263A30;
    text-decoration: none;
}
.for_investors .ninth-screen .tab:first-child {
    border: 2px solid #CCD0D9;
    border-radius: 5px 0 0 5px;
}
.for_investors .ninth-screen .tab:last-child {
    border-radius: 0 5px 5px 0;
}
.for_investors .ninth-screen .tab.active {
    background: #FFC93A;
}
.for_investors .ninth-screen .tab_item {
    display: none;
}
.for_investors .ninth-screen .tab_item.active {
    display: block;
}
.for_investors .ninth-screen .tab_1_diagramm {
    background: url('../../images/landing/tab_1_diagramm.svg') right no-repeat;
    background-size: contain;
    width: 900px;
    height: 900px;
    margin: auto;
}
.for_investors .ninth-screen .tab_2_diagramm {
    background: url('../../images/landing/tab_2_diagramm.svg') right no-repeat;
    background-size: contain;
    width: 900px;
    height: 900px;
    margin: auto;
}
.for_investors .ninth-screen .tab_3_diagramm {
    background: url('../../images/landing/tab_3_diagramm.svg') right no-repeat;
    background-size: contain;
    width: 900px;
    height: 900px;
    margin: auto;
}
.for_investors .ninth-screen .tab_4_diagramm {
    background: url('../../images/landing/tab_4_diagramm.svg') right no-repeat;
    background-size: contain;
    width: 900px;
    height: 900px;
    margin: auto;
}
.for_investors .ninth-screen .tab_5_diagramm {
    background: url('../../images/landing/tab_5_diagramm.svg') right no-repeat;
    background-size: contain;
    width: 900px;
    height: 900px;
    margin: auto;
}
.for_investors .tenth-screen {
    background: #F2F4F8;
    padding: 85px 0 80px 0;
}
.for_investors .tenth-screen .container {
    max-width: 1100px;
    margin: 0 auto;
}
.for_investors .tenth-screen .community_commercial {
    display: grid;
    grid-template-columns: auto 20px auto 80px auto;
    grid-template-rows: 170px 87px 320px;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}
.for_investors .tenth-screen .community_commercial h2 {
    font-weight: 600;
    font-size: 20px;
    color: #0A38C2;
    margin-top: 0;
    margin-bottom: 12px;
}
.for_investors .tenth-screen .community_commercial .community_commercial > div {
    padding: 30px;
}
.for_investors .tenth-screen .community_commercial .row1_cell_1_3 {
    grid-column: 1 / span 3;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 20px 0 0 30px;
}
.for_investors .tenth-screen .community_commercial .row1_cell_1_3 .osm_icon {
    background: url('../../images/landing/osm_icon.svg') right no-repeat;
    background-size: cover;
    width: 90px;
    height: 91px;
    margin-right: 27px;
}
.for_investors .tenth-screen .community_commercial .row1_cell_5 {
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.05);
    padding: 20px 0 0 23px;
    border-radius: 6px;
}
.for_investors .tenth-screen .community_commercial .row2_cell_1 {
    background: url('../../images/landing/red_arrow.svg') center center no-repeat;
    background-size: cover;
    width: 27px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
}
.for_investors .tenth-screen .community_commercial .row2_cell_3 {
    background: url('../../images/landing/green_arrow.svg') center center no-repeat;
    background-size: cover;
    width: 27px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
}
.for_investors .tenth-screen .community_commercial .row2_cell_5 {
    display: flex;
    padding: 0 90px;
}
.for_investors .tenth-screen .community_commercial .row2_cell_5 div:first-child {
    background: url('../../images/landing/red_arrow.svg') center center no-repeat;
    background-size: cover;
    width: 27px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
}
.for_investors .tenth-screen .community_commercial .row2_cell_5 div:last-child {
    background: url('../../images/landing/green_arrow.svg') center center no-repeat;
    background-size: cover;
    width: 27px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
}
.for_investors .tenth-screen .community_commercial .row3_cell_1, .for_investors .tenth-screen .community_commercial .row3_cell_3, .for_investors .tenth-screen .community_commercial .row3_cell_5 {
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.05);
    padding: 30px;
    border-radius: 6px;
}
.for_investors .tenth-screen .community_commercial .logo_mapbox {
    background: url('../../images/mapbox-logo-white.svg') center center no-repeat;
    background-size: cover;
    width: 223px;
    height: 51px;
    margin-bottom: 30px;
}
.for_investors .tenth-screen .community_commercial .b2b {
    background: #FF595E;
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    line-height: 27px;
    width: 100%;
    margin-bottom: 17px;
    padding: 0 0 0 5px;
}
.for_investors .tenth-screen .community_commercial .mapsme_logo {
    background: url('../../images/mapsme_logo.svg') center center no-repeat;
    background-size: cover;
    width: 193px;
    height: 51px;
    margin-bottom: 30px;
}
.for_investors .tenth-screen .community_commercial .b2c {
    background: #8AC826;
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    line-height: 27px;
    width: 100%;
    margin-bottom: 17px;
    padding: 0 0 0 5px;
}
.for_investors .tenth-screen .community_commercial .google_maps_logo {
    background: url('../../images/google_maps_logo.svg') center center no-repeat;
    background-size: cover;
    width: 234px;
    height: 51px;
    margin-bottom: 30px;
}
.for_investors .tenth-screen .community_commercial .row3_cell_5 .b2b {
    border-radius: 0 2px 2px 0;
}
.for_investors .tenth-screen .community_commercial .row3_cell_5 .b2c {
    border-radius: 2px 0 0 2px;
}
.for_investors .eleventh-screen {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 110px;
}
.for_investors .eleventh-screen .button {
    background: #0A38C2;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #FFFFFF;
    padding: 15px 30px;
    text-decoration: none;
}
.for_investors .eleventh-screen .button:hover {
    background: #FFFFFF;
    border: 1px solid #0A38C2;
    box-shadow: 0px 1px 5px rgba(10, 56, 194, 0.25);
    border-radius: 5px;
    color: #0A38C2;
    padding: 15px 30px;
    text-decoration: none;
}
.for_investors .eleventh-screen .email_address {
    font-weight: bold;
    font-size: 68px;
    line-height: 83px;
    color: #0A38C2;
    margin-bottom: 45px;
    margin-top: 69px;
}
.for_investors .eleventh-screen .email_address a, .for_investors .eleventh-screen .email_address a:hover {
    text-decoration: none;
}
