{% extends 'base_inner.html' %}
{% load i18n %}

{% block headline %}Block #{{ block_id }}{% endblock %}

{% block content %}
<div class="containter_flex">
    {% include 'main/_data_left_menu.html' %}
    <div class="data_content">
{#        <div class="filters">#}
{#            <ul>#}
{#                <li class="active">Today</li>#}
{#                <li>Week</li>#}
{#                <li>Month</li>#}
{#                <li class="custom_filter"><div class="custom_icon"></div><div>Custom</div></li>#}
{#            </ul>#}
{#            <select>#}
{#                <option>All types</option>#}
{#                <option>sys.role</option>#}
{#                <option>sys.grant</option>#}
{#                <option>sys.operation</option>#}
{#                <option>sys.signup</option>#}
{#                <option>sys.login</option>#}
{#                <option>sys.validate</option>#}
{#            </select>#}
{#        </div>#}
        <opr-block url="http://127.0.0.1:8000/en/block_exm/"></opr-block>
{#        <div class="data_container">#}
{#            <div class="item_data">#}
{#                <div class="type_operation operation_database"></div>#}
{#                <div class="content">#}
{#                    <div class="content_header"><a href="#">Add all Amsterdam</a></div>#}
{#                    <div>Audio apps can deliver music, news, podcasts, and more using a...</div>#}
{#                </div>#}
{#                <div class="info">#}
{#                    <div class="first_info_block">#}
{#                        <div class="date">2019-01-24, 14:44</div>#}
{#                        <div class="delimeter">•</div>#}
{#                        <div class="hash">77889977</div>#}
{#                    </div>#}
{#                    <div class="second_info_block">#}
{#                        <div class="who_confirmed">Community</div>#}
{#                        <div class="delimeter">•</div>#}
{#                        <div class="user"><a href="#">Victor Shcherb</a></div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="item_data">#}
{#                <div class="type_operation operation_user"></div>#}
{#                <div class="content">#}
{#                    <div class="content_header">Welcome new user <a href="#">Eugene</a></div>#}
{#                    <div>New user registration</div>#}
{#                </div>#}
{#                <div class="info">#}
{#                    <div class="first_info_block">#}
{#                        <div class="date">2019-01-24, 14:44</div>#}
{#                        <div class="delimeter">•</div>#}
{#                        <div class="hash">77889976</div>#}
{#                    </div>#}
{#                    <div class="second_info_block">#}
{#                        <div class="who_confirmed">Auto</div>#}
{#                        <div class="delimeter">•</div>#}
{#                        <div class="user"><a href="#">System</a></div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="item_data">#}
{#                <div class="type_operation operation_database"></div>#}
{#                <div class="content">#}
{#                    <div class="content_header"><a href="#">Database schema change</a></div>#}
{#                    <div>Audio apps can deliver music, news, podcasts, and more using a...</div>#}
{#                </div>#}
{#                <div class="info">#}
{#                    <div class="first_info_block">#}
{#                        <div class="date">2019-01-24, 14:44</div>#}
{#                        <div class="delimeter">•</div>#}
{#                        <div class="hash">77889975</div>#}
{#                    </div>#}
{#                    <div class="second_info_block">#}
{#                        <div class="who_confirmed">Auto</div>#}
{#                        <div class="delimeter">•</div>#}
{#                        <div class="user"><a href="#">STatus</a></div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
</div>
{% endblock %}
<script>
    import OprOperations from "../../assets/js/components/OPROperations";
    export default {
        components: {OprOperations}
    }
</script>
<script>
    import OprBlock from "../../assets/js/components/OPRBlock";
    export default {
        components: {OprBlock}
    }
</script>