{% extends 'base_inner.html' %}
{% load i18n %}

{% block headline %}Block #{{ block_id }}{% endblock %}

{% block content %}
<div class="containter_flex">
    {% include 'main/_data_left_menu.html' %}
    <div class="data_content">
{#        <div class="filters">#}
{#            <ul>#}
{#                <li class="active">Today</li>#}
{#                <li>Week</li>#}
{#                <li>Month</li>#}
{#                <li class="custom_filter"><div class="custom_icon"></div><div>Custom</div></li>#}
{#            </ul>#}
{#            <select>#}
{#                <option>All types</option>#}
{#                <option>sys.role</option>#}
{#                <option>sys.grant</option>#}
{#                <option>sys.operation</option>#}
{#                <option>sys.signup</option>#}
{#                <option>sys.login</option>#}
{#                <option>sys.validate</option>#}
{#            </select>#}
{#        </div>#}
        <opr-block url="{{ settings.SERVER_API_ADDRESS }}/en/block_exm/"></opr-block>
    </div>
</div>
{% endblock %}
<script>
    import OprOperations from "../../assets/js/components/OPROperations";
    export default {
        components: {OprOperations}
    }
</script>
<script>
    import OprBlock from "../../assets/js/components/OPRBlock";
    export default {
        components: {OprBlock}
    }
</script>