{% extends 'base_inner.html' %}
{% load i18n %}

{% block headline %}Roles{% endblock %}

{% block content %}
<div class="containter_flex">
    {% include 'main/_data_left_menu.html' %}
    <div class="data_content">
        <div class="data_container">
            <opr-entities-operations url="{% url 'proxy_url' %}?url={{ settings.SERVER_API_ADDRESS }}/api/objects?type=sys.operation"></opr-entities-operations>
        </div>
    </div>
</div>
{% endblock %}
<script>
    import OprEntitiesValidations from "../../assets/js/components/OPREntitiesValidations";
    export default {
        components: {OprEntitiesValidations}
    }
</script>