{% extends 'base_inner.html' %}
{% load i18n %}

{% block headline %}Permissions grants{% endblock %}

{% block content %}
<div class="containter_flex">
    <div class="data_content">
        <div class="data_container">
            <opr-entities-validations url="{% url 'proxy_url' %}?url={{ settings.SERVER_API_ADDRESS }}/api/objects?type=sys.validate"></opr-entities-validations>
        </div>
    </div>
    {% include 'main/_data_right_menu.html' %}
</div>
{% endblock %}
<script>
    import OprEntitiesValidations from "../../assets/js/components/OPREntitiesValidations";
    export default {
        components: {OprEntitiesValidations}
    }
</script>