@font-face {
    font-family: Overpass-Regular;
    src: url("https://fonts.googleapis.com/css?family=Overpass:400")
}

@font-face {
    font-family: Overpass-Bold;
    src: url("https://fonts.googleapis.com/css?family=Overpass:800")
}

body {
    width: 800px;
    margin: 0 auto;
    margin-top: 72px;
    font-family: 'Overpass', sans-serif;
    background-color: white;
    font-size: 1em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   /*  width: 100%; */
}

.main {
    margin-top: 72px;
}

.main h1 {
    text-align: center;
}

.main p {
    padding: 0px;
    margin: 0px;
    line-height: 1em;
}

.main ul {
    width: 600px;
    /* line-height: 1.0em; */
    font-size: 1.1em;
}
.main li {
    margin: 0 0 10px 0;
}

h1 {
    font-size: 2.5em;
    color: #596680;
    font-family: Overpass-Bold;
    letter-spacing: 0.02em;
}

.btn {
    background-color: #2d6ae0;
    color: white;
    padding: 0px 25px 0px 25px;
    min-height: 60px;
    border: none;
    margin:0 auto;
    display:block;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-family: Overpass-Bold;
    letter-spacing: 0.04em;
    -webkit-box-shadow: 0px 3px 14px 2px #00000036;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 3px 14px 2px #00000036;  /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 3px 14px 2px #00000036;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}