{% load static %}
<div class="first-screen">
    <div class="first-screen-bg">
        <div class="top-left"></div>
        <div class="top-center"></div>
        <div class="top-right"></div>
        <div class="middle-left"></div>
        <div class="middle-center">


    <div class="first-screen-container">
        <div>
            <div class="header">
                <div class="logo">
                    <a href="{% url 'frontpage' %}">
                        <img src="{% static 'dist/images/OpenPlaceReview.svg' %}" alt="OpenPlaceReviews.org logo"/>
                    </a>
                </div>
                <ul class="menu-landing">
                    <li><a href="#mission">Mission</a></li>
                    <li><a href="#join_us" class="button">Join Us</a></li>
                    <li><a href="#">For Investors</a></li>
                </ul>
            </div>
            <h1>
                Read, share and manage reviews about local places
                <p>Open. Collaborative. Decentralized.</p>
            </h1>
            <div class="header-emoji">
                <span>☕</span>️
                <span>🍽 </span>
                <span>🍷</span>
                <span>🛌</span>
            </div>
        </div>
    </div>


        </div>
        <div class="middle-right"></div>
        <div class="buttom-left"></div>
        <div class="buttom-center"></div>
        <div class="buttom-right"></div>
    </div>

</div>