{% load static %}
<div class="first-screen">
    <div class="first-screen-bg">
        <div class="left-line"></div>
        <div class="header-body">
            <div class="first-screen-container">
                <div class="header">
                    <div class="logo">
                        <a href="{% url 'frontpage' %}">
                            <img src="{% static 'dist/images/OpenPlaceReview.svg' %}" alt="OpenPlaceReviews.org logo"/>
                        </a>
                    </div>
                    <ul class="menu-landing">
                        <li><a href="#mission">Mission</a></li>
                        <li><a href="#join_us" class="button">Join Us</a></li>
                        <li><a href="#">For Investors</a></li>
                    </ul>
                </div>
                <div class="container_flex">
                    <h1>
                        Read, share and manage reviews about local places
                        <p>Open. Collaborative. Decentralized.</p>
                    </h1>
                    <div class="header-emoji">
                        <span>☕</span>️
                        <span>🍽 </span>
                        <span>🍷</span>
                        <span>🛌</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-left"></div>
        <div class="bottom-line"></div>
        <div class="bottom-center"></div>
        <div class="bottom-line"></div>
    </div>

</div>