{% load account %}
{% load i18n %}
{% load static %}

<header>
    <div class="block-header">
        <div class="logo">
           <a href="{% url 'frontpage' %}">
                <img src="{% static 'dist/images/OpenPlaceReview.svg' %}" alt="OpenPlaceReviews.org logo" class="center"/>
            </a>
        </div>
        {% if settings.SHOW_NAVIGATION %}
{#        <input id="toggle" type="checkbox">#}
{#        <label class="toggle-container" for="toggle">#}
{#            <span class="button button-toggle"></span>#}
{#        </label>#}
        <nav class="nav">
            <ul>
                {% url 'map_page' as url %}
                <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">Map</a></li>
{#                <li><a href="#">Leaderboard</a></li>#}
                {% url 'data_page' as url %}
                <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">Data</a></li>
{#                <li><a href="#">News</a></li>#}
{#                <li><a href="#">Docs</a></li>#}
{#                <li><a href="#">Tasks</a></li>#}
                {% if request.user.is_authenticated %}
                    <li class="my_account">
                        <a href="#">My account</a>
                    </li>
                    <li class="avatar_my_account"><a href="{% url 'account_logout' %}"><img src="{% static 'dist/images/avatar-default.png' %}"></a></li>
                {% else %}
                    <li class="nav_login">
                        <a href="{% url 'account_login' %}">Login</a>
                    </li><li class="nav_signup">
                        <a href="{% url 'account_signup' %}">Sign Up</a>
                </li><div></div>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</header>