{% load account %}
{% load i18n %}
{% load static %}

<header>
    <div class="block-header">
        <div class="logo">
           <a href="{% url 'frontpage' %}">
                <img src="{% static 'dist/images/opr_logo.png' %}" alt="OpenPlaceReviews.org logo" class="center"/>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="#">Map</a></li>
                <li><a href="#">Leaderboard</a></li>
                <li><a href="#">Data</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Docs</a></li>
                <li><a href="#">Tasks</a></li>

            </ul>
            <div class="login_signup">
                <a href="{% url 'account_login' %}">Login</a>
                <div class="divider_block"><div class="divider"></div></div>
                <a href="{% url 'account_signup' %}">Sign Up</a>
            </div>
        </nav>
    </div>
</header>

{#{% if request.user.is_authenticated %}#}
{#    <a href="#">{% trans 'My account' %}</a>[avatar]#}
{#    <a href="{% url 'account_logout' %}">logout</a>#}
{##}
{#{% else %}#}
{#    <a href="{% url 'account_login' %}">login</a>#}
{##}
{#    <a href="{% url 'account_signup' %}">signup</a>#}
{#{% endif %}#}

