{% load account %}
{% load i18n %}
{% load static %}

<header>
    <div class="block-header">
        <div class="logo">
           <a href="{% url 'frontpage' %}">
                <img src="{% static 'dist/images/opr_logo.png' %}" alt="OpenPlaceReviews.org logo" class="center"/>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="#">Map</a></li>
                <li><a href="#">Leaderboard</a></li>
                {% url 'data_page' as url %}
                <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">Data</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Docs</a></li>
                <li><a href="#">Tasks</a></li>
            </ul>
            {% if request.user.is_authenticated %}
                <div class="my_account">
                    <a href="#">My account</a>
                </div>
                <div class="avatar_logout"><a href="{% url 'account_logout' %}"><img src="{% static 'dist/images/avatar-default.png' %}"></a></div>
            {% else %}
                <div class="login_signup">
                    <a href="{% url 'account_login' %}">Login</a>
                    <div class="divider_block"><div class="divider"></div></div>
                    <a href="{% url 'account_signup' %}">Sign Up</a>
                </div>
            {% endif %}
        </nav>
    </div>
</header>